Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

MediaParsingService: Use a normal dispatcher
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

PlaybackService: Use a normal dispatcher
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

Storages adapter: Do not clear job too soon
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
Due: continuous-app-build

Audio: clear marquee task on recycle
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: continuous-app-build

Bump version to 3.2.8
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Adapter: properly clear handler for marquee
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserAdapter.kt
Due: continuous-app-build

Update VLC HASH
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Upate NEWS
  NEWS
Due: none

Do not create handler just for clearing purpose
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserAdapter.kt
Due: continuous-app-build

Services: code cleaning
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Adapters: clear marquee task on recycle
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
Due: none

Clear marquee handler for audio cards too
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: continuous-app-build

Fix Playlist Random play bug
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

TvChannels: build fix
  application/tools/src/main/java/videolan/org/commontools/TvChannelUtils.kt
Due: none

Correctly save current video play queue
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Video player: remember playlist state
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Potential fix for IllegalArgumentException in RecyclerView recycling
  application/vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
Due: none

Correctly save current video play queue
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/gui/video/PopupManager.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: continuous-app-build

Video player: remember playlist state
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Potential fix for IllegalArgumentException in RecyclerView recycling
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
Due: continuous-app-build

PlaybackService: Set a Flow for current instance
  application/television/src/main/java/org/videolan/television/ui/NowPlayingDelegate.kt
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/RendererDelegate.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/PickTimeFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/PlaybackSpeedDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SelectChapterDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/benchmark/BenchActivity.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: none

Use flow in SuspendDialogCallback
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
Due: none

External devices code cleanup
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/ExternalMonitor.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/providers/FileBrowserProvider.kt
Due: none

NetworkMonitor: Sanity check
  application/tools/src/main/java/org/videolan/tools/NetworkMonitor.kt
Due: none

Set connection as Flow
  application/tools/src/main/java/org/videolan/tools/NetworkMonitor.kt
  application/vlc-android/src/org/videolan/vlc/RendererDelegate.kt
  application/vlc-android/src/org/videolan/vlc/repository/BrowserFavRepository.kt
Due: none

Remove all ExternalMonitor network code
  application/television/src/main/java/org/videolan/television/ui/MoviepediaTvFragment.kt
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/ExternalMonitor.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/providers/NetworkProvider.kt
  application/vlc-android/src/org/videolan/vlc/repository/BrowserFavRepository.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/browser/NetworkModel.kt
Due: none

MediaUtils: Replace DialogCallback with suspend
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
Due: none

OTG access: Fix logic fail
  application/vlc-android/src/org/videolan/vlc/providers/FileBrowserProvider.kt
Due: none

PlaybackService: sanity check
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

OTG: Use a Flow for access
  application/vlc-android/src/org/videolan/vlc/ExternalMonitor.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/hf/OtgAccess.kt
Due: none

Do not show resume card if media is not found
  application/vlc-android/src/org/videolan/vlc/gui/AudioPlayerContainerActivity.kt
Due: none

Fix storages channel
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/ExternalMonitor.kt
Due: none

AudioPlayerActivity: clean scan progress code
  application/vlc-android/src/org/videolan/vlc/gui/AudioPlayerContainerActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/ContentActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/MainActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
Due: none

PlaybackService: use ConflatedBroadcastChannel
  application/television/src/main/java/org/videolan/television/ui/NowPlayingDelegate.kt
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/PickTimeFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/PlaybackSpeedDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SelectChapterDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: none

Comsume Flows when started
  application/television/src/main/java/org/videolan/television/ui/MoviepediaTvFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/PickTimeFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/PlaybackSpeedDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SelectChapterDialog.kt
Due: none

Improve LiveDataset
  application/tools/src/main/java/org/videolan/tools/livedata/LiveDataset.kt
  application/vlc-android/src/org/videolan/vlc/gui/ContentActivity.kt
  application/vlc-android/src/org/videolan/vlc/providers/FileBrowserProvider.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/HistoryModel.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/StreamsModel.kt
Due: none

Display track and progress for the audio play queue in the player
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/drawable/rounded_corners_bottom_default_darker.xml
  application/vlc-android/res/layout-land/audio_player.xml
  application/vlc-android/res/layout/audio_player.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayerAnimator.kt
  application/vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: none

Trigger listeners update after queue liste update
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

MediaQueue progress: optimizations
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: none

Use sequences, as we may process large lists
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: none
