Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Upgrade AGP
  build.gradle
Due: none

Get ML exception
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

Send crash report with DB and errMsg
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/gui/SendCrashActivity.kt
  vlc-android/src/org/videolan/vlc/util/Constants.kt
Due: continuous-app-build

Medialibrary: Implement exception handler
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.h
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

PLaylistActivity: remove IO from main thread
  vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Japanese update
  vlc-android/res/values-ja/strings.xml
Due: continuous-app-build

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

l10n: Hungarian update
  vlc-android/res/values-hu/strings.xml
Due: continuous-app-build

l10n: Hebrew update
  vlc-android/res/values-he/strings.xml
Due: continuous-app-build

l10n: Slovak update
  vlc-android/res/values-sk/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

l10n: Swedish update
  vlc-android/res/values-sv/strings.xml
Due: continuous-app-build

l10n: Sardinian update
  vlc-android/res/values-sc/strings.xml
Due: continuous-app-build

l10n: Turkish update
  vlc-android/res/values-tr/strings.xml
Due: continuous-app-build

Video groups: directly play media for singletons
  vlc-android/src/org/videolan/vlc/gui/videogroups/VideoGroupsFragment.kt
Due: continuous-app-build

Explicit video grouping deactivation
  vlc-android/res/values/strings.xml
Due: continuous-app-build

l10n: Chinese (Taiwan) update
  vlc-android/res/values-zh-rTW/strings.xml
Due: continuous-app-build

Remove G+ link. "support" -> "Support"
  README.md
Due: none

Videos: get all acordingly to current sorting
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
Due: continuous-app-build

Medialibrary: Match new API
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

TV: Fix resource reference for empty view
  vlc-android/res/layout/song_browser.xml
Due: continuous-app-build

MediaParsingService: add new parameter for fails
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

Medialibrary: Match new API
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64
