Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

l10n: Ukrainian update
  application/resources/src/main/res/values-uk/strings.xml
Due: none

l10n: Swedish update
  application/resources/src/main/res/values-sv/strings.xml
Due: none

l10n: Romanian update
  application/resources/src/main/res/values-ro/strings.xml
Due: none

l10n: Portuguese (Brazil) update
  application/resources/src/main/res/values-pt-rBR/strings.xml
Due: none

l10n: Chinese (Taiwan) update
  application/resources/src/main/res/values-zh-rTW/strings.xml
Due: none

l10n: Slovak update
  application/resources/src/main/res/values-sk/strings.xml
Due: none

l10n: Chinese (China) update
  application/resources/src/main/res/values-zh-rCN/strings.xml
Due: none

Playlists: disable no permission view
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistFragment.kt
Due: none

AudioBrowser: disable permission view if not empty
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
Due: none

Videos: disable permission view if not empty
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: none

BrowserFavDao: fix typo
  application/app/src/androidTest/java/org/videolan/vlc/database/BrowserFavDaoTest.kt
  application/mediadb/src/main/java/org/videolan/vlc/mediadb/BrowserFavDao.kt
  application/vlc-android/src/org/videolan/vlc/repository/BrowserFavRepository.kt
Due: none

Favs: display only network if no permissions
  application/mediadb/src/main/java/org/videolan/vlc/mediadb/BrowserFavDao.kt
  application/television/src/main/java/org/videolan/television/ui/MediaItemDetailsFragment.kt
  application/vlc-android/src/org/videolan/vlc/repository/BrowserFavRepository.kt
Due: none

Favorites: re-enable with no storage permission
  application/vlc-android/src/org/videolan/vlc/gui/browser/MainBrowserFragment.kt
Due: none

History: display even if no storage access
  application/resources/src/main/java/org/videolan/resources/util/Extensions.kt
Due: none

Add a retry button for the subtitle downloads
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/layout/subtitle_downloader_dialog.xml
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SubtitleDownloaderDialogFragment.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/SubtitlesModel.kt
Due: none

Bump app to 3.4.4
  NEWS
  build.gradle
Due: none

Migrate sleep timer from AlarmManager to a more reliable in-app implementation
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/television/src/main/java/org/videolan/television/ui/audioplayer/AudioPlayerActivity.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SleepTimerDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerOverlayDelegate.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

History: add media missing grey overlay
  application/vlc-android/res/layout/history_item.xml
  application/vlc-android/res/layout/history_item_card.xml
Due: none

History: add missing icon to missing media
  application/vlc-android/res/layout/history_item.xml
  application/vlc-android/res/layout/history_item_card.xml
Due: none

Video player: avoid intercepting back gesture
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Fix audio player playlist icon state
  application/vlc-android/res/layout-land/audio_player.xml
  application/vlc-android/res/layout/audio_player.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayerAnimator.kt
Due: none

Fix audio player header media switcher visibility in landscape
  application/vlc-android/res/layout-land/audio_player.xml
Due: none

Equalizer code cleanup
  application/vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: none

Fix IndexOutOfBoundsException in equalizer when changing orientation
  application/vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: none

Equalizer bar new getValue API
  application/vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/view/EqualizerBar.kt
Due: none

Display banned folders in the ML folders screen
  application/resources/src/main/res/drawable/ic_checkbox_disabled.xml
  application/resources/src/main/res/drawable/ic_checkbox_not_checked.xml
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/layout/browser_item.xml
  application/vlc-android/src/org/videolan/vlc/gui/browser/BrowserItemBindingContainer.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/ThreeStatesCheckbox.kt
Due: none

Target the Medialibrary 0.11 tag
  buildsystem/compile-medialibrary.sh
Due: none

Implement the ML banned folder listing
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

JNI: update init with SetupConfig
  medialibrary/jni/AndroidMediaLibrary.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

RenderersDialog code cleanup
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/RenderersDialog.kt
Due: none

Fix RenderersDialog crash
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/RenderersDialog.kt
Due: none

Refactor the string separation in the whole app
  application/vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: none

Add a whatsapp browser favorite with the new path
  application/mediadb/src/main/java/org/videolan/vlc/mediadb/MediaDatabase.kt
  application/mediadb/src/main/java/org/videolan/vlc/mediadb/Migrations.kt
  application/resources/src/main/java/org/videolan/resources/AndroidDevices.kt
  libvlc/src/org/videolan/libvlc/util/AndroidUtil.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Implement the new playlist nbDurationUnknown API
  application/vlc-android/src/org/videolan/vlc/util/Kextensions.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix typo + rewording
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MLStorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageFragmentDelegate.kt
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement new folders API
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Remove useless calls to std::move in JNI
  medialibrary/jni/medialibrary.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Remove obsolete calls to IAlbumTrack
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Improve the RenderersDialog UI
  application/resources/src/main/res/drawable/ic_dialog_renderer.xml
  application/resources/src/main/res/drawable/ic_dialog_unknown.xml
  application/vlc-android/res/layout/dialog_renderers.xml
  application/vlc-android/res/layout/item_renderer.xml
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/RenderersDialog.kt
  libvlc/src/org/videolan/libvlc/RendererItem.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

AndroidMediaLibrary: Remove start() function
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64
