Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Add video info and improve layout
  resources/src/main/res/values/strings.xml
  vlc-android/res/layout/player.xml
  vlc-android/res/layout/player_hud.xml
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoStatsDelegate.kt
Due: continuous-app-build

l10n: Italian update
  resources/src/main/res/values-it/strings.xml
Due: none

l10n: German update
  resources/src/main/res/values-de/strings.xml
Due: none

l10n: Malayalam update
  resources/src/main/res/values-ml/strings.xml
Due: none

l10n: Danish update
  resources/src/main/res/values-da/strings.xml
Due: none

l10n: Hungarian update
  resources/src/main/res/values-hu/strings.xml
Due: none

l10n: Catalan update
  resources/src/main/res/values-ca/strings.xml
Due: none

l10n: Sardinian update
  resources/src/main/res/values-sc/strings.xml
Due: none

l10n: Polish update
  resources/src/main/res/values-pl/strings.xml
Due: none

l10n: Arabic update
  resources/src/main/res/values-ar/strings.xml
Due: none

l10n: Welsh update
  resources/src/main/res/values-cy/strings.xml
Due: none

l10n: Dutch update
  resources/src/main/res/values-nl/strings.xml
Due: none

l10n: Spanish update
  resources/src/main/res/values-es/strings.xml
Due: none

l10n: Norwegian Bokmål update
  resources/src/main/res/values-nb/strings.xml
Due: none

l10n: Persian update
  resources/src/main/res/values-fa/strings.xml
Due: none

l10n: Romanian update
  resources/src/main/res/values-ro/strings.xml
Due: none

l10n: Icelandic update
  resources/src/main/res/values-is/strings.xml
Due: none

l10n: Greek update
  resources/src/main/res/values-el/strings.xml
Due: none

l10n: Spanish (Mexico) update
  resources/src/main/res/values-es-rMX/strings.xml
Due: none

l10n: French update
  resources/src/main/res/values-fr/strings.xml
Due: none

l10n: Portuguese update
  resources/src/main/res/values-pt/strings.xml
Due: none

l10n: Malay update
  resources/src/main/res/values-ms/strings.xml
Due: none

l10n: Lithuanian update
  resources/src/main/res/values-lt/strings.xml
Due: none

l10n: Galician update
  resources/src/main/res/values-gl/strings.xml
Due: none

App module
  app/.gitignore
  app/build.gradle
  app/proguard-rules.pro
  app/src/androidTest/java/org/videolan/mobile/app/ExampleInstrumentedTest.kt
  app/src/main/AndroidManifest.xml
  app/src/test/java/org/videolan/mobile/app/ExampleUnitTest.kt
  settings.gradle
  tools/build.gradle
  vlc-android/AndroidManifest.xml
  vlc-android/build.gradle
  vlc-android/res/layout/file_picker_fragment.xml
Due: continuous-app-build

Video stats icon and text update
  resources/src/main/res/values/strings.xml
  vlc-android/res/drawable/ic_video_stats.xml
  vlc-android/res/layout/player_hud.xml
  vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
Due: continuous-app-build

Fix lateinit unitialized variable crash
  vlc-android/src/org/videolan/vlc/gui/video/VideoStatsDelegate.kt
Due: continuous-app-build

Save and restore DVD title and chapter in playback
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: continuous-app-build

Video player: Correctly apply extra title
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

LibVLC: add majorVersion() method
  libvlc/jni/libvlcjni.c
  libvlc/src/org/videolan/libvlc/LibVLC.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

LibVLC: set methods static when possible
  libvlc/src/org/videolan/libvlc/LibVLC.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

LibVLC: media: re-indent before next commit
  libvlc/src/org/videolan/libvlc/Media.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

LibVLC: handle hw decoding option for LibVLC 4.0
  libvlc/src/org/videolan/libvlc/Media.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Use pref ellipsize mode in audio and video play queue
  vlc-android/res/layout/audio_browser_card_item.xml
  vlc-android/res/layout/playlist_item.xml
  vlc-android/src/org/videolan/vlc/gui/audio/PlaylistAdapter.kt
Due: continuous-app-build

Fix video player playback speed icon background state
  vlc-android/res/values/styles.xml
Due: continuous-app-build

StorageProvider: use "no subfolder" instead of misleading "empty" string
  resources/src/main/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  vlc-android/src/org/videolan/vlc/providers/StorageProvider.kt
Due: continuous-app-build

Shorten search hint
  resources/src/main/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/gui/ContentActivity.kt
Due: continuous-app-build

LibVLC: Media: fix hardware decoder variable name
  libvlc/src/org/videolan/libvlc/Media.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Fix locale list creation by gradle
  vlc-android/build.gradle
Due: continuous-app-build
