Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Network login: fix cancel event
  vlc-android/src/org/videolan/vlc/gui/dialogs/VlcDialog.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/VlcLoginDialog.kt
Due: continuous-app-build

Improve empty view design
  assets/images/svg/ic_empty.svg
  vlc-android/res/drawable/ic_empty.xml
  vlc-android/res/layout/audio_browser.xml
  vlc-android/res/layout/folders_fragment.xml
  vlc-android/res/layout/song_browser.xml
  vlc-android/res/layout/video_grid.xml
  vlc-android/res/values/styles.xml
Due: continuous-app-build

Rename Sorting interface to SortModule
  vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
  vlc-android/src/org/videolan/vlc/viewmodels/SortableModel.kt
Due: continuous-app-build

Fix video player playlist drag and drop regression
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

libvlc: fix smb2/dsm conflicts
  libvlc/patches/vlc3/0001-access-add-smb2-module.patch
  libvlc/patches/vlc3/0002-smb2-dsm-avoid-to-request-the-dialog-two-times.patch
  libvlc/patches/vlc3/0003-compat-Workaround-sendmsg-bug-on-android.patch
  libvlc/patches/vlc3/0004-libvlc-events-Add-callbacks-for-record.patch
  libvlc/patches/vlc3/0005-network-tls-Handle-errors-from-older-kernels.patch
  libvlc/patches/vlc3/0006-access_output-file-Add-error-dialog-for-write-open.patch
  libvlc/patches/vlc3/0007-libvlc-media_player-Add-record-method.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

PlaylistManager: code factorization
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: continuous-app-build

l10n: Ukrainian update
  vlc-android/res/values-uk/strings.xml
Due: continuous-app-build

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

Medialibrary: add tracks release year
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractMediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/media/MediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Add sort by release year for tracks
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
Due: continuous-app-build

TV Browser: sanity check
  vlc-android/src/org/videolan/vlc/gui/tv/FileTvItemAdapter.kt
Due: continuous-app-build

Equalizer: Ensure LibVLC is loaded
  vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: continuous-app-build

Medialibrary: Match API update
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Video groups UI
  vlc-android/res/layout/videogroup_item.xml
  vlc-android/res/layout/videogroups_fragment.xml
  vlc-android/res/menu/activity_option.xml
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/folders/FoldersAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/ImageLoader.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/Navigator.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/gui/videogroups/VideoGroupsAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/videogroups/VideoGroupsFragment.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
  vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/FoldersViewModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideogroupsViewModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/tv/MediaBrowserViewModel.kt
Due: continuous-app-build

Add a setting to set the video grouping prefix length
  vlc-android/res/values/strings.xml
  vlc-android/res/xml/preferences_ui.xml
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
Due: continuous-app-build

Medialibrary: Implement videogroups API
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractVideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/MediaLibraryItem.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Header for multi disc in Album view
  vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
Due: continuous-app-build

Upgrade libraries
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump version & Upgrade libraries
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Remove breadcrumb last decoration
  vlc-android/src/org/videolan/vlc/gui/InfoActivity.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/gui/view/VLCDividerItemDecoration.kt
Due: continuous-app-build

Info activity: manage not scanned / no length medias
  vlc-android/res/layout/info_activity.xml
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/gui/InfoActivity.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
