Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

l10n: Italian update
  application/resources/src/main/res/values-it/strings.xml
Due: none

l10n: Malayalam update
  application/resources/src/main/res/values-ml/strings.xml
Due: none

l10n: Polish update
  application/resources/src/main/res/values-pl/strings.xml
Due: none

l10n: Portuguese (Brazil) update
  application/resources/src/main/res/values-pt-rBR/strings.xml
Due: none

l10n: Slovak update
  application/resources/src/main/res/values-sk/strings.xml
Due: none

l10n: Ukrainian update
  application/resources/src/main/res/values-uk/strings.xml
Due: none

l10n: Chinese (China) update
  application/resources/src/main/res/values-zh-rCN/strings.xml
Due: none

TV: Always finish video player activiy
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Services: Force foreground sooner
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

Update NEWS
  NEWS
Due: none

trivial_echo_fix
  buildsystem/compile-libvlc.sh
  libvlc/gdb.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Update the copyright to 2020
  application/resources/src/main/res/values/strings.xml
Due: none

Update notification after playlist meta fetched
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: continuous-app-build

Update the copyright to 2020
  vlc-android/res/values/strings.xml
Due: continuous-app-build

Audioplayer: mitigate ANR in playlist
  vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: continuous-app-build

LibVLC: update tested hash
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Upgrade libraries
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump version to 3.2.11
  build.gradle
Due: none

Remove merged patch
  libvlc/patches/vlc3/0006-access-dvdnav-dvd-seek.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Update libraries HASH
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
Due: none

Ignore javadoc lint
  build.gradle
Due: none

Fix IllegalStateException
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
Due: continuous-app-build

Apply suggestion to application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: none

Crash fix when currentMediaPosition is -1
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: none

Sanitize streams URL before playing it
  application/vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
Due: none

Fix snackbar display in Audio player + code cleanup
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: none

Mitigate black video thumbnails provided by Android
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
Due: none

TV: Set main activity as "Singletask"
  application/television/src/main/AndroidManifest.xml
Due: none

TV: Always finish video player activiy
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Use long type on video_resume_time setting
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Hide load last playlist button if not available
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Display number of inserted/appended tracks
  application/resources/src/main/res/values-co/strings.xml
  application/resources/src/main/res/values-cs/strings.xml
  application/resources/src/main/res/values-cy/strings.xml
  application/resources/src/main/res/values-da/strings.xml
  application/resources/src/main/res/values-de/strings.xml
  application/resources/src/main/res/values-es-rMX/strings.xml
  application/resources/src/main/res/values-es/strings.xml
  application/resources/src/main/res/values-eu/strings.xml
  application/resources/src/main/res/values-fr/strings.xml
  application/resources/src/main/res/values-gl/strings.xml
  application/resources/src/main/res/values-he/strings.xml
  application/resources/src/main/res/values-hu/strings.xml
  application/resources/src/main/res/values-is/strings.xml
  application/resources/src/main/res/values-it/strings.xml
  application/resources/src/main/res/values-ja/strings.xml
  application/resources/src/main/res/values-lt/strings.xml
  application/resources/src/main/res/values-ml/strings.xml
  application/resources/src/main/res/values-ms/strings.xml
  application/resources/src/main/res/values-nb/strings.xml
  application/resources/src/main/res/values-nl/strings.xml
  application/resources/src/main/res/values-pl/strings.xml
  application/resources/src/main/res/values-pt-rBR/strings.xml
  application/resources/src/main/res/values-pt/strings.xml
  application/resources/src/main/res/values-ru/strings.xml
  application/resources/src/main/res/values-sc/strings.xml
  application/resources/src/main/res/values-sk/strings.xml
  application/resources/src/main/res/values-sv/strings.xml
  application/resources/src/main/res/values-tr/strings.xml
  application/resources/src/main/res/values-uk/strings.xml
  application/resources/src/main/res/values-zh-rCN/strings.xml
  application/resources/src/main/res/values-zh-rTW/strings.xml
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
Due: none

Extract media file deletion code from UI
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
Due: none

Improve refresh process
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: none

l10n: Catalan update
  application/resources/src/main/res/values-ca/strings.xml
Due: none

l10n: Czech update
  application/resources/src/main/res/values-cs/strings.xml
Due: none

l10n: German update
  application/resources/src/main/res/values-de/strings.xml
Due: none

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
