Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Equalizer: use the dialog context so the save button always works
  vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: continuous-app-build

Medialibrary: Avoid double init
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

Fix 'clear media db' wording and improve dialog text
  vlc-android/res/values/strings.xml
  vlc-android/res/xml/preferences_adv.xml
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAdvanced.kt
Due: continuous-app-build

Fix video group thumbnail not loading
  vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
Due: continuous-app-build

Storages: Prevent IO from main thread
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
Due: continuous-app-build

Update NEWS
  NEWS
Due: none

Bump version to 3.2.5
  build.gradle
Due: none

Clean Medialibrary classes import
  medialibrary/src/org/videolan/medialibrary/media/Playlist.java
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/details/MediaListActivity.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: Rename Album
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractGenre.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Album.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/media/AlbumImpl.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/media/SearchAggregate.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/src/org/videolan/vlc/gui/audio/AudioAlbumsSongsFragment.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/AlbumSongsViewModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/PlaylistViewModel.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: Rename Genre
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/media/GenreImpl.java
  medialibrary/src/org/videolan/medialibrary/media/SearchAggregate.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/GenresProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: Rename Playlist
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/SearchAggregate.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
  vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SavePlaylistDialog.kt
  vlc-android/src/org/videolan/vlc/gui/tv/details/MediaListActivity.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/PlaylistsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/PlaylistViewModel.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: Rename Artist
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractAlbum.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractGenre.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/media/Album.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/media/SearchAggregate.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/src/org/videolan/vlc/gui/InfoActivity.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/ArtistsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/AlbumSongsViewModel.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: Rename Folder
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Folder.java
  medialibrary/src/org/videolan/medialibrary/media/FolderImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubFolder.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/src/org/videolan/vlc/gui/helpers/AudioUtil.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoListAdapter.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/FoldersProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
  vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/VideosViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Upgrade libraries
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: Rename VideoGroup
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoListAdapter.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
  vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Moviepedia DB scheme
  vlc-android/assets/schemas/org.videolan.vlc.database.MediaDatabase/30.json
Due: continuous-app-build

AB Repeat options : new svg icons
  assets/images/svg/ic_abrepeat.svg
  assets/images/svg/ic_abrepeat_marker.svg
  assets/images/svg/ic_abrepeat_reset.svg
  assets/images/svg/ic_abrepeat_reset_circle.svg
  assets/images/svg/ic_abrepeat_reset_marker.svg
  assets/images/svg/ic_abrepeat_reset_marker_circle.svg
Due: continuous-app-build

Debug activity: prevent illegal access
  vlc-android/src/org/videolan/vlc/gui/DebugLogActivity.kt
Due: continuous-app-build

Video player: prevent IO from main thread
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

TV: Improve browsing display
  vlc-android/src/org/videolan/vlc/gui/tv/browser/BaseBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

PiP: Update AR on video change
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

l10n: Slovak update
  vlc-android/res/values-sk/strings.xml
Due: continuous-app-build

l10n: Swedish update
  vlc-android/res/values-sv/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

l10n: Ukrainian update
  vlc-android/res/values-uk/strings.xml
Due: continuous-app-build

l10n: Chinese (Taiwan) update
  vlc-android/res/values-zh-rTW/strings.xml
Due: continuous-app-build

l10n: Japanese update
  vlc-android/res/values-ja/strings.xml
Due: continuous-app-build

l10n: Hebrew update
  vlc-android/res/values-he/strings.xml
Due: continuous-app-build

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
