Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

History: fix double click outOfBoundsException
  application/vlc-android/src/org/videolan/vlc/gui/MoreFragment.kt
Due: none

Fix activity resolving for the MediaPlayer
  libvlc/src/org/videolan/libvlc/VideoHelper.java
  libvlc/src/org/videolan/libvlc/util/AndroidUtil.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Bump libs to 3.4.8 / 0.9.8
  build.gradle
  buildsystem/compile-medialibrary.sh
Due: none

Bump app version to 3.4.3
  NEWS
  build.gradle
Due: none

compile.sh: Remove invalid variable in folder test
  buildsystem/compile.sh
Due: none

buildsystem: Use a prebuilt module to link medialibrary and libmla
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/Android.mk
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: Android.mk: Include CLEAN_VARS
  medialibrary/jni/Android.mk
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile.sh: Inline compile function
  buildsystem/compile.sh
Due: none

buildsystem: Use prebuilt libraries to propagage libvlc dependencies
  buildsystem/compile-libvlc.sh
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
  libvlc/jni/Android.mk
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

buildsystem: Use a prebuilt module for linking libmla with sqlite
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/Android.mk
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile.sh: Remove support for ANDROID_ABI=all
  buildsystem/compile.sh
Due: none

compile-medialibrary.sh: Remove unused variable
  buildsystem/compile-medialibrary.sh
Due: none

CI: Parallelize release lib jobs
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

medialibrary: Android.mk: Remove explicit set of a default value
  medialibrary/jni/Android.mk
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-medialibrary: Remove unused variable
  buildsystem/compile-medialibrary.sh
Due: none

compile.sh: Remove hack to move files around in a tmp folder
  buildsystem/compile.sh
Due: none

compile-medialibrary.sh: Fix comparison when RESET isn't set
  buildsystem/compile-medialibrary.sh
Due: none

buildsystem: compile.sh: Always clone VLC source if missing
  buildsystem/compile.sh
Due: none

CI: Remove leftover debug
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

Create MediaWrapper even if ML is not able to retrieve a mrl
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  medialibrary/jni/utils.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: Avoid folder -> id -> folder conversions
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: Add a folder accessor
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix buildscript missing variable forwarding
  buildsystem/compile.sh
Due: none

Implement new ML playlist APIs
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  application/vlc-android/src/org/videolan/vlc/util/Kextensions.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

New ML set time API
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement new ML script versioning by tag
  buildsystem/compile-medialibrary.sh
Due: none

Implement the new seen param for groups and display it
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoListAdapter.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/interfaces/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Remove the ML aar dependency for assembleRelease
  medialibrary/build.gradle
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump the lib versions to 3.5.0-eap1 / 0.10.0-eap1
  build.gradle
Due: none

360Video: fix angle control with gestures disabled
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoTouchDelegate.kt
Due: none

Fix Info activity track list position
  application/vlc-android/res/layout/info_activity.xml
Due: none

Remove useless toolbar_height dimension and collapsing toolbar uniformization
  application/resources/src/main/res/values-h480dp/dimens.xml
  application/resources/src/main/res/values-h600dp/dimens.xml
  application/resources/src/main/res/values/dimens.xml
  application/vlc-android/AndroidManifest.xml
  application/vlc-android/res/layout/playlist_activity.xml
  application/vlc-android/res/layout/toolbar.xml
  application/vlc-android/res/values/styles.xml
Due: none

Playlist: fix title missing
  application/resources/src/main/res/values-h600dp/dimens.xml
  application/vlc-android/res/layout/playlist_activity.xml
Due: none

Use list layout when displaying errors to prevent string truncation
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
Due: none

Fix canWriteStorage on A11
  application/vlc-android/src/org/videolan/vlc/util/Permissions.kt
Due: none

Fix tablet controls appearing on mobile
  application/vlc-android/res/layout-land/audio_player.xml
  application/vlc-android/res/layout/audio_player.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayerAnimator.kt
Due: none

Add support for updating repeat and shuffle via media session callback
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
