Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Update LibVLC and Medialibrary
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Display video groups of one item as regular video
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
Due: continuous-app-build

Improve LiveDataset
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/TvUtil.kt
  vlc-android/src/org/videolan/vlc/util/LiveDataset.kt
  vlc-android/src/org/videolan/vlc/viewmodels/BaseModel.kt
Due: continuous-app-build

Fix playlist tracks number display
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: continuous-app-build

some typos and better wording
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

Medialibrary loading: offload paging threadpool
  vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioAlbumsSongsFragment.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
Due: continuous-app-build

fixed minor typo
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Refactor VLC dialogs subscription
  vlc-android/src/org/videolan/vlc/VLCApplication.kt
  vlc-android/src/org/videolan/vlc/gui/BaseActivity.kt
  vlc-android/src/org/videolan/vlc/gui/DialogActivity.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/VlcDialog.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/VlcLoginDialog.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/NetworkBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/util/DialogDelegates.kt
  vlc-android/src/org/videolan/vlc/viewmodels/CallBackDelegate.kt
Due: continuous-app-build

libvlc: remove obsolete code for api level <= 13
  libvlc/jni/libvlcjni-vlcobject.c
  libvlc/jni/libvlcjni.c
  libvlc/jni/utils.h
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

std_logger: fix typos
  libvlc/jni/std_logger.c
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Streams: Fix audio tabs showing
  vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
Due: continuous-app-build

Remove dead manifest entry
  vlc-android/AndroidManifest.xml
Due: continuous-app-build

FastScroller: performance improvement
  vlc-android/src/org/videolan/vlc/gui/view/FastScroller.kt
Due: continuous-app-build

Workaround for IllegalStateException on Pie
  tools/src/main/java/org/videolan/tools/KotlinExtensions.kt
  vlc-android/src/org/videolan/vlc/RendererDelegate.kt
  vlc-android/src/org/videolan/vlc/StartActivity.kt
  vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: continuous-app-build

Fix image scale issue in video player playlist
  vlc-android/res/layout/playlist_item.xml
  vlc-android/src/org/videolan/vlc/gui/audio/PlaylistAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/ImageLoader.kt
Due: continuous-app-build

Fix imports and string format
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: continuous-app-build

Update paged views according to loading state
  vlc-android/src/org/videolan/vlc/gui/PlaylistFragment.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioAlbumsSongsFragment.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/audio/BaseAudioBrowser.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MediaTvItemAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/tv/TvItemAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/MediaBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoListAdapter.kt
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
  vlc-android/src/org/videolan/vlc/viewmodels/tv/TvBrowserModel.kt
Due: continuous-app-build

Video player: catch IllegalArgumentException
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Remove custom scope for LifecycleOwner
  tools/src/main/java/org/videolan/tools/KotlinExtensions.kt
  vlc-android/src/org/videolan/vlc/gui/AboutFragment.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SubtitleDownloaderDialogFragment.kt
  vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/SearchFragment.kt
Due: continuous-app-build

Update SDK licenses
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialib: Update to recent thumbnail API changes
  medialibrary/jni/utils.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

build: add bluray support
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

ci: Bump docker image
  .gitlab-ci.yml
Due: continuous-app-build

Upgrade LibVLC & Medialibrary
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

ci: Don't rebuild libvlc if medialibrary will also be built
  .gitlab-ci.yml
Due: continuous-app-build

Improve video folder & group titles
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractFolder.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractVideoGroup.java
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update NEWS
  NEWS
Due: none

Bumb version to 3.2.2
  build.gradle
Due: none

isValidUrl() String util function
  tools/src/main/java/org/videolan/tools/KotlinExtensions.kt
Due: none

Streams: paste clipboard content when relevant
  tools/src/main/java/org/videolan/tools/KotlinExtensions.kt
  vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
Due: continuous-app-build

Add a next episode button on TV
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/database/MediaMetadataDataFullDao.kt
  vlc-android/src/org/videolan/vlc/database/models/MediaMetadata.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MediaItemDetailsFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MoviepediaTvshowDetailsFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/MoviepediaBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/repository/MediaMetadataRepository.kt
  vlc-android/src/org/videolan/vlc/viewmodels/MediaMetadataModel.kt
Due: continuous-app-build

Remove the TV show table and use MediaMetadata instead
  vlc-android/res/layout/movie_browser_tv_item.xml
  vlc-android/src/org/videolan/vlc/database/Converters.kt
  vlc-android/src/org/videolan/vlc/database/MediaDatabase.kt
  vlc-android/src/org/videolan/vlc/database/MediaMetadataDataFullDao.kt
  vlc-android/src/org/videolan/vlc/database/MediaTvshowDao.kt
  vlc-android/src/org/videolan/vlc/database/models/MediaMetadata.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MoviepediaTvFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MoviepediaTvItemAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/MoviepediaBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/providers/MoviepediaMovieProvider.kt
  vlc-android/src/org/videolan/vlc/providers/MoviepediaProvider.kt
  vlc-android/src/org/videolan/vlc/providers/MoviepediaTvshowProvider.kt
  vlc-android/src/org/videolan/vlc/providers/datasources/MovieDataSourceFactory.kt
  vlc-android/src/org/videolan/vlc/providers/datasources/TvshowDataSourceFactory.kt
  vlc-android/src/org/videolan/vlc/repository/MediaMetadataRepository.kt
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
  vlc-android/src/org/videolan/vlc/viewmodels/MoviepediaModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/tv/MainTvModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/tv/MoviepediaBrowserViewModel.kt
Due: continuous-app-build

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
