Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.1.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

libvlc: backport smb2 patches
  libvlc/patches/vlc3/0001-access-add-smb2-module.patch
  libvlc/patches/vlc3/0002-compat-Workaround-sendmsg-bug-on-android.patch
  libvlc/patches/vlc3/0003-libvlc-events-Add-callbacks-for-record.patch
  libvlc/patches/vlc3/0004-network-tls-Handle-errors-from-older-kernels.patch
  libvlc/patches/vlc3/0005-access_output-file-Add-error-dialog-for-write-open.patch
  libvlc/patches/vlc3/0006-libvlc-media_player-Add-record-method.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

l10n: Sardinian update
  vlc-android/res/values-sc/strings.xml
Due: continuous-app-build

l10n: Swedish update
  vlc-android/res/values-sv/strings.xml
Due: continuous-app-build

l10n: Chinese (China) update
  vlc-android/res/values-zh-rCN/strings.xml
Due: continuous-app-build

l10n: Turkish update
  vlc-android/res/values-tr/strings.xml
Due: continuous-app-build

l10n: Ukrainian update
  vlc-android/res/values-uk/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

l10n: Japanese update
  vlc-android/res/values-ja/strings.xml
Due: continuous-app-build

l10n: Irish update
  vlc-android/res/values-ga/strings.xml
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Hebrew update
  vlc-android/res/values-he/strings.xml
Due: continuous-app-build

l10n: Dutch update
  vlc-android/res/values-nl/strings.xml
Due: continuous-app-build

l10n: Slovak update
  vlc-android/res/values-sk/strings.xml
Due: continuous-app-build

Set medialibrary branch to 0.5.x
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fixed search collapse side-effect on menu items
  vlc-android/src/org/videolan/vlc/gui/ContentActivity.kt
Due: continuous-app-build

Revert "Medialibrary: match API changes"
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Revert onHistoryChanged callback implementation
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64
