Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Bump libraries version
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

AndroidMediaLibrary: Implement onRescanStarted
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump version to 3.2.0 beta 7
  build.gradle
Due: none

Add --with-pic to libvlc build
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix failure detection in libvlc build script
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-libvlc: Use $() instead of backticks
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-libvlc: consistently indent with spaces
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-libvlc: Fix comparison
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-libvlc: add prebuilt contrib support
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update Medialibrary HASH
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

LibVLC: Sanity check
  libvlc/src/org/videolan/libvlc/VideoHelper.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

compile-libvlc: partially revert changing backticks
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-libvlc: Fix copy-paste mistake
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-libvlc: Force luac build when using prebuilt contribs
  compile-libvlc.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Set priority to SMBv1
  vlc-android/src/org/videolan/vlc/util/VLCOptions.kt
Due: continuous-app-build

Update strings.xml
  vlc-android/res/values-ml/strings.xml
Due: continuous-app-build

Reviewed and edited the malayalam string file.
  vlc-android/res/values-ml/strings.xml
Due: continuous-app-build

Minor fix
  libvlc/src/org/videolan/libvlc/VideoHelper.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Updated string.xml mayalam
  vlc-android/res/values-ml/strings.xml
Due: continuous-app-build

Add a context option to share a media
  assets/images/svg/ic_ctx_share_normal.svg
  vlc-android/res/drawable/ic_ctx_share_normal.xml
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  vlc-android/src/org/videolan/vlc/gui/audio/BaseAudioBrowser.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/ContextSheet.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  vlc-android/src/org/videolan/vlc/util/Constants.kt
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
Due: continuous-app-build

Provider security fix
  vlc-android/src/org/videolan/vlc/FileProvider.kt
  vlc-android/src/org/videolan/vlc/util/AndroidDevices.kt
Due: continuous-app-build

TV: Refactor media details view
  vlc-android/src/org/videolan/vlc/gui/tv/MediaItemDetailsFragment.kt
Due: continuous-app-build

Add KTX dependencies
  build.gradle
  vlc-android/build.gradle
Due: continuous-app-build

Target Android 10
  build.gradle
  tools/src/main/java/org/videolan/tools/KotlinExtensions.kt
  vlc-android/src/org/videolan/vlc/ExternalMonitor.kt
  vlc-android/src/org/videolan/vlc/StoragesMonitor.kt
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/NetworkServerDialog.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SubtitleDownloadFragment.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SubtitleDownloaderDialogFragment.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SubtitleHistoryFragment.kt
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MediaItemDetailsFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  vlc-android/src/org/videolan/vlc/repository/ExternalSubRepository.kt
  vlc-android/src/org/videolan/vlc/util/FileUtils.kt
  vlc-android/src/org/videolan/vlc/util/Settings.kt
  vlc-android/src/org/videolan/vlc/util/VLCDownloadManager.kt
  vlc-android/src/org/videolan/vlc/util/VLCOptions.kt
Due: continuous-app-build

Request legacy external storage access
  vlc-android/AndroidManifest.xml
Due: continuous-app-build

Benchmark: disable picture in picture
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Adapters: abort binding when job is cancelled
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
Due: continuous-app-build

Adapters: abort binding when job is cancelled
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/folders/FoldersAdapter.kt
Due: continuous-app-build

Browser: Cancel adapter scope on destroy
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
Due: continuous-app-build

Update libraries
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Add a Job to DiffUtilAdapter scope
  vlc-android/src/org/videolan/vlc/gui/DiffUtilAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
Due: continuous-app-build

Browser: Cancel adapter scope on destroy
  vlc-android/src/org/videolan/vlc/gui/DiffUtilAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
Due: continuous-app-build

Benchmark: store stacktrace when freeze/crash
  vlc-android/src/org/videolan/vlc/gui/video/benchmark/BenchActivity.kt
Due: continuous-app-build

Medialibrary: Use 0.6.x branch
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64
