Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.1.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Update SendCrashActivity.kt
  vlc-android/src/org/videolan/vlc/gui/SendCrashActivity.kt
Due: continuous-app-build

Browser: cancel task using a coroutineScope
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
Due: continuous-app-build

DB dump: extract hardcoded strings
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAdvanced.kt
Due: continuous-app-build

Allow text wrapping for Switch preferences
  vlc-android/res/xml/preferences.xml
  vlc-android/res/xml/preferences_adv.xml
  vlc-android/res/xml/preferences_audio.xml
  vlc-android/res/xml/preferences_casting.xml
  vlc-android/res/xml/preferences_dev.xml
  vlc-android/res/xml/preferences_perf.xml
  vlc-android/res/xml/preferences_subtitles.xml
  vlc-android/res/xml/preferences_ui.xml
  vlc-android/res/xml/preferences_video.xml
Due: continuous-app-build

libvlc: backport smb2 port specifications support
  libvlc/patches/vlc3/0001-access-add-smb2-module.patch
  libvlc/patches/vlc3/0002-compat-Workaround-sendmsg-bug-on-android.patch
  libvlc/patches/vlc3/0003-libvlc-events-Add-callbacks-for-record.patch
  libvlc/patches/vlc3/0004-network-tls-Handle-errors-from-older-kernels.patch
  libvlc/patches/vlc3/0005-access_output-file-Add-error-dialog-for-write-open.patch
  libvlc/patches/vlc3/0006-libvlc-media_player-Add-record-method.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Disable crash reporter when app is not beta
  vlc-android/src/org/videolan/vlc/VLCApplication.kt
Due: continuous-app-build

UPnP: Add patch to fix discovery
  libvlc/patches/vlc3/libvlc_patches_0007-upnp-Fix-potential-race-during-tear-down.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Fix forum URL
  vlc-android/src/org/videolan/vlc/gui/SendCrashActivity.kt
Due: continuous-app-build

Update medialibrary hash
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

libvlc: Remove upstreamed patch
  libvlc/patches/vlc3/libvlc_patches_0007-upnp-Fix-potential-race-during-tear-down.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Mitigate the seekbar UI issue on kitkat
  vlc-android/res/layout/equalizer_bar.xml
  vlc-android/src/org/videolan/vlc/gui/view/VerticalSeekBar.kt
  vlc-android/src/org/videolan/vlc/gui/view/VerticalSeekBarContainer.kt
Due: continuous-app-build

Reload library instead of force rescan
  vlc-android/src/org/videolan/vlc/gui/MainActivity.kt
  vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
Due: continuous-app-build

Update VLC hash
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix some language issues
  vlc-android/src/org/videolan/vlc/gui/BaseActivity.kt
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/BaseTvActivity.kt
  vlc-android/src/org/videolan/vlc/gui/tv/preferences/PreferencesUi.kt
Due: continuous-app-build

Code cleaning
  vlc-android/src/org/videolan/vlc/StartActivity.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SavePlaylistDialog.kt
Due: continuous-app-build

FadableView: Fix crash
  vlc-android/src/org/videolan/vlc/gui/view/FadableImageView.kt
Due: continuous-app-build

Display network protocol and network icon on TV
  vlc-android/res/layout/media_browser_tv_item.xml
  vlc-android/src/org/videolan/vlc/gui/tv/FileTvItemAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/tv/TvUtil.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

Revert switch preferences to checkbox as leanback doesn't support it
  vlc-android/res/xml/preferences.xml
  vlc-android/res/xml/preferences_adv.xml
  vlc-android/res/xml/preferences_audio.xml
  vlc-android/res/xml/preferences_casting.xml
  vlc-android/res/xml/preferences_dev.xml
  vlc-android/res/xml/preferences_perf.xml
  vlc-android/res/xml/preferences_subtitles.xml
  vlc-android/res/xml/preferences_ui.xml
  vlc-android/res/xml/preferences_video.xml
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesExtensionFragment.kt
Due: continuous-app-build

Update NEWS
  NEWS
Due: none

Update version to 3.2.0 beta 3
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Change the way we handle the locale change
  vlc-android/src/org/videolan/vlc/DebugLogService.kt
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/PreviewVideoInputService.kt
  vlc-android/src/org/videolan/vlc/RecommendationsService.kt
  vlc-android/src/org/videolan/vlc/StartActivity.kt
  vlc-android/src/org/videolan/vlc/VLCApplication.kt
  vlc-android/src/org/videolan/vlc/gui/AboutFragment.kt
  vlc-android/src/org/videolan/vlc/gui/AudioPlayerContainerActivity.kt
  vlc-android/src/org/videolan/vlc/gui/BaseActivity.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/BaseTvActivity.kt
  vlc-android/src/org/videolan/vlc/util/LocaleUtils.kt
Due: continuous-app-build

Harden Medialibrary initialization
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

BrowserProvider: Safely send media to channel
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
Due: continuous-app-build

Update dependencies
  build.gradle
Due: none

MediaParsingService: Always set foreground Oreo+
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

l10n: Irish update
  vlc-android/res/values-ga/strings.xml
Due: continuous-app-build

l10n: Hebrew update
  vlc-android/res/values-he/strings.xml
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Japanese update
  vlc-android/res/values-ja/strings.xml
Due: continuous-app-build

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

l10n: Dutch update
  vlc-android/res/values-nl/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

l10n: Slovak update
  vlc-android/res/values-sk/strings.xml
Due: continuous-app-build

l10n: Swedish update
  vlc-android/res/values-sv/strings.xml
Due: continuous-app-build

l10n: Turkish update
  vlc-android/res/values-tr/strings.xml
Due: continuous-app-build

l10n: Ukrainian update
  vlc-android/res/values-uk/strings.xml
Due: continuous-app-build
