Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Fix IllegalStateException in AudioPlayer
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: none

Fix IndexOutOfBoundsException
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Prevent a crash when thumbnail size is too large for widgets
  application/vlc-android/src/org/videolan/vlc/widget/VLCAppWidgetProvider.kt
Due: none

Fix IndexOutOfBoundsException
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: continuous-app-build

Prevent a crash when thumbnail size is too large for widgets
  vlc-android/src/org/videolan/vlc/widget/VLCAppWidgetProvider.kt
Due: continuous-app-build

Fix IllegalStateException in AudioPlayer
  vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: continuous-app-build

Update NEWS
  NEWS
Due: none

Update microcode
  build.gradle
Due: none

medialibrary: Update according to API changes
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix thumbnails for video grouped by folder
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoListAdapter.kt
Due: none

ABRepeat refactor common methods
  application/vlc-android/res/layout/player_hud.xml
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Fix widgets crash + fix small typo
  application/resources/build.gradle
  application/vlc-android/build.gradle
  application/vlc-android/src/org/videolan/vlc/widget/VLCAppWidgetProvider.kt
Due: none

Image click launches action mode in video lists
  application/vlc-android/res/layout/video_list_card.xml
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoListAdapter.kt
Due: none

tools: Fix lifecycle dependency
  application/tools/build.gradle
Due: none

RendererDelegate: Use NetworkMonitor
  application/vlc-android/src/org/videolan/vlc/RendererDelegate.kt
Due: none

Move VLCInstance & VLCOptions to resources module
  application/app/src/main/java/org/videolan/mobile/app/AppSetupDelegate.kt
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/resources/src/main/java/org/videolan/resources/VLCInstance.kt
  application/resources/src/main/java/org/videolan/resources/VLCOptions.kt
  application/resources/src/main/java/org/videolan/resources/util/VLCCrashHandler.kt
  application/resources/src/main/res/values-land/booleans.xml
  application/resources/src/main/res/values-sw400dp/booleans.xml
  application/resources/src/main/res/values-v19/booleans.xml
  application/resources/src/main/res/values/booleans.xml
  application/television/src/main/java/org/videolan/television/ui/preferences/PreferencesAdvanced.kt
  application/television/src/main/java/org/videolan/television/ui/preferences/PreferencesAudio.kt
  application/television/src/main/java/org/videolan/television/ui/preferences/PreferencesSubtitles.kt
  application/tools/src/main/java/org/videolan/tools/KotlinExtensions.kt
  application/vlc-android/src/org/videolan/vlc/PreviewVideoInputService.kt
  application/vlc-android/src/org/videolan/vlc/RendererDelegate.kt
  application/vlc-android/src/org/videolan/vlc/StoragesMonitor.kt
  application/vlc-android/src/org/videolan/vlc/gui/InfoActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAdvanced.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAudio.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesCasting.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesSubtitles.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/benchmark/BenchActivity.kt
  application/vlc-android/src/org/videolan/vlc/media/PlayerController.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  application/vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  application/vlc-android/src/org/videolan/vlc/util/Kextensions.kt
  application/vlc-android/src/org/videolan/vlc/util/Util.kt
Due: none

Move OpenSubtitles classes to resources module
  application/resources/build.gradle
  application/resources/src/main/java/org/videolan/resources/opensubtitles/IOpenSubtitleService.kt
  application/resources/src/main/java/org/videolan/resources/opensubtitles/Models.kt
  application/resources/src/main/java/org/videolan/resources/opensubtitles/OpenSubtitleRepository.kt
  application/resources/src/main/java/org/videolan/resources/opensubtitles/OpenSubtitleService.kt
  application/resources/src/main/java/org/videolan/resources/util/ConnectivityInterceptor.kt
  application/television/src/main/java/org/videolan/television/util/Helpers.kt
  application/vlc-android/build.gradle
  application/vlc-android/src/org/videolan/vlc/viewmodels/SubtitlesModel.kt
  application/vlc-android/test-common/org/videolan/vlc/util/TestUtil.kt
  application/vlc-android/test/org/videolan/vlc/viewmodels/SubtitlesModelTest.kt
Due: none

libvlc: gdb: fix script
  libvlc/gdb.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

libvlc: gdb: fix APP_BUILD path
  libvlc/gdb.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Tests: update after module refactor
  application/moviepedia/src/androidTest/java/org/videolan/moviepedia/ConvertersTest.kt
  application/vlc-android/androidTest/org/videolan/vlc/database/MigrationTest.kt
  application/vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesUIUITest.kt
  application/vlc-android/build.gradle
  application/vlc-android/test/org/videolan/vlc/viewmodels/mobile/AudioBrowserViewModelTest.kt
  buildsystem/compile.sh
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Move classnames to fields in Constants.kt
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/resources/src/main/java/org/videolan/resources/util/Extensions.kt
  application/vlc-android/src/org/videolan/vlc/StartActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Change FrameLayout to FragmentContainerView
  application/vlc-android/res/layout/main.xml
  application/vlc-android/res/layout/secondary.xml
Due: none

Change an empty FrameLayout to Space
  application/television/src/main/res/layout/activity_media_list_tv.xml
Due: none

buildsystem: disable branch-protection for debug builds
  buildsystem/compile-libvlc.sh
Due: none

l10n: Spanish update
  application/resources/src/main/res/values-es/strings.xml
Due: none

l10n: Sardinian update
  application/resources/src/main/res/values-sc/strings.xml
Due: none

Code cleaning
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/NetworkServerDialog.kt
  application/vlc-android/src/org/videolan/vlc/repository/BrowserFavRepository.kt
Due: none

File browser: use the correct ViewModel
  application/television/src/main/java/org/videolan/television/ui/browser/FileBrowserTvFragment.kt
  application/television/src/main/java/org/videolan/television/ui/browser/VerticalGridActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/browser/BrowserModel.kt
Due: none

File browsing: Fix performance
  application/vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
Due: none

Move some utils to resources/
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/tools/src/main/java/org/videolan/tools/Util.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/NotificationHelper.kt
  application/vlc-android/src/org/videolan/vlc/util/Util.kt
Due: none

Override testing lib minSDK
  application/vlc-android/AndroidManifest.xml
Due: none

Gradle: Fix dev flavors in modules
  application/mediadb/build.gradle
  application/television/build.gradle
Due: none

Fix test build
  application/app/build.gradle
  application/live-plot-graph/build.gradle
  application/mediadb/build.gradle
  application/moviepedia/build.gradle
  application/resources/build.gradle
  application/television/build.gradle
Due: none

Comment BrowserFavRepositoryTest content for now
  application/vlc-android/test/org/videolan/vlc/repository/BrowserFavRepositoryTest.kt
Due: none

Fix getUUID return type
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix dependencies in tests
  application/vlc-android/test-common/org/videolan/vlc/util/TestUtil.kt
  application/vlc-android/test/org/videolan/vlc/util/ModelsHelperTest.kt
  application/vlc-android/test/org/videolan/vlc/viewmodels/SubtitlesModelTest.kt
  application/vlc-android/test/org/videolan/vlc/viewmodels/browser/NetworkModelTest.kt
Due: none

Move ConvertersTest to the correct package
  application/moviepedia/src/androidTest/java/org/videolan/moviepedia/ExampleInstrumentedTest.kt
  application/moviepedia/src/androidTest/java/org/videolan/moviepedia/database/ConvertersTest.kt
Due: none

File browsing: Fix performance
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
Due: continuous-app-build

File browser: use the correct ViewModel
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

CI: Use all available amd64 machines
  buildsystem/gitlab/.gitlab-ci.yml
Due: none
