Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Cancel folders adapter scope on destroy
  vlc-android/src/org/videolan/vlc/gui/folders/FoldersAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/folders/FoldersFragment.kt
Due: continuous-app-build

Bump version to 3.2.0
  build.gradle
Due: none

Update libraries
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Align lifecycle libraries versions
  build.gradle
Due: none

libvlc: Remove old & unused thumbnailer code
  libvlc/jni/Android.mk
  libvlc/jni/thumbnailer.c
  libvlc/src/org/videolan/libvlc/util/VLCUtil.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Player: set state in a compamion object
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
  vlc-android/src/org/videolan/vlc/media/PlayerController.kt
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: continuous-app-build

Remove recording patches for VLC4
  libvlc/patches/vlc4/0004-libvlc-events-Add-callbacks-for-record.patch
  libvlc/patches/vlc4/0005-libvlc-media_player-Add-record-method.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Add Message-Id header to VLC4 patches
  libvlc/patches/vlc4/0001-compat-Workaround-sendmsg-bug-on-android.patch
  libvlc/patches/vlc4/0002-network-tls-Handle-errors-from-older-kernels.patch
  libvlc/patches/vlc4/0003-access_output-file-Add-error-dialog-for-write-open.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Fix UninitializedPropertyAccessException
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
Due: continuous-app-build

Bump version to 3.2.1
  build.gradle
Due: none

Enable multi-resume
  vlc-android/AndroidManifest.xml
Due: continuous-app-build

Remove logs
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

TV: Fix protocole displayed in favorites folders
  vlc-android/src/org/videolan/vlc/gui/tv/browser/VerticalGridActivity.kt
Due: continuous-app-build

TV browser: remove old empty state
  vlc-android/res/layout/song_browser.xml
  vlc-android/src/org/videolan/vlc/gui/tv/MediaBrowserAnimatorDelegate.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/MediaBrowserTvFragment.kt
Due: continuous-app-build

Upgrade AGP to v3.5.2
  build.gradle
Due: none

FileUtils: catch IllegalStateException
  vlc-android/src/org/videolan/vlc/util/FileUtils.kt
Due: continuous-app-build

Audio browser: Fix IndexOutOfBoundsException
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: continuous-app-build

Equalizer: Prevent NPE
  vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: continuous-app-build

Video player: Fix subs picker for content:// uris
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/FilePickerFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

vlc-4.0: don't use removed variables
  libvlc/jni/libvlcjni-media.c
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

vlc-4.0: media_player: use new stop_async function
  libvlc/jni/libvlcjni-mediaplayer.c
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

medialibrary: fix build with vlc-4.0
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Disable crash reporter by default
  vlc-android/AndroidManifest.xml
Due: continuous-app-build

Services: Create notification channels sooner
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

Settings: clear medialia library
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAdvanced.kt
  vlc-android/src/org/videolan/vlc/gui/tv/preferences/PreferencesAdvanced.kt
Due: continuous-app-build

Medialibrary: publish clearDatabase method
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Set dimensions according to surface size
  libvlc/res/layout/vlc_video_layout.xml
  libvlc/src/org/videolan/libvlc/VideoHelper.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Settings: clear medialibrary
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAdvanced.kt
  vlc-android/src/org/videolan/vlc/gui/tv/preferences/PreferencesAdvanced.kt
Due: continuous-app-build

Fix grid/list switch in VideoGridFragment
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: continuous-app-build

Update LibVLC and Medialibrary
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump version to 3.2.2
  build.gradle
Due: none
