Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Fix video player hud background
  vlc-android/res/drawable/advanced_options_background.xml
  vlc-android/res/drawable/advanced_options_background_light.xml
  vlc-android/res/drawable/rounded_corners.xml
  vlc-android/res/values/styles.xml
Due: continuous-app-build

Convert align mode setting to proper ellipsize setting
  vlc-android/res/layout/audio_browser_card_item.xml
  vlc-android/res/layout/audio_browser_item.xml
  vlc-android/res/layout/browser_item.xml
  vlc-android/res/layout/folder_item.xml
  vlc-android/res/layout/video_list_card.xml
  vlc-android/res/values/arrays.xml
  vlc-android/res/values/strings.xml
  vlc-android/res/xml/preferences_ui.xml
  vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  vlc-android/src/org/videolan/vlc/util/Settings.kt
Due: continuous-app-build

compile.sh: refactor checkfail
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

compile-medialibrary.sh: force uid/gid during tarball extraction
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update plugin
  build.gradle
Due: none

Fix equalizer focus issue
  vlc-android/res/layout/equalizer.xml
  vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: continuous-app-build

Compute headers when opening network folder
  vlc-android/src/org/videolan/vlc/providers/NetworkProvider.kt
Due: continuous-app-build

Properly restore selected position when coming back to TV network browser
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

compile.sh: Bump gradle version to 5.4.1
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

gitlab-ci: Bump gradle version
  .gitlab-ci.yml
Due: continuous-app-build

Fix history screen not searchable Fixes #947
  vlc-android/src/org/videolan/vlc/gui/HistoryFragment.kt
Due: continuous-app-build

Fix IllegalStateException
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
Due: continuous-app-build

Mitigate the FastScroller not scrolling all the way down
  vlc-android/src/org/videolan/vlc/gui/view/FastScroller.kt
Due: continuous-app-build

Allow UPnP folders to be added as favorites on TV
  vlc-android/src/org/videolan/vlc/gui/tv/browser/VerticalGridActivity.kt
  vlc-android/src/org/videolan/vlc/util/Constants.kt
  vlc-android/src/org/videolan/vlc/util/FileUtils.kt
  vlc-android/src/org/videolan/vlc/viewmodels/tv/MainTvModel.kt
Due: continuous-app-build

Improve marquee in lists
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
Due: continuous-app-build

l10n: Danish update
  vlc-android/res/values-da/strings.xml
Due: continuous-app-build

l10n: Hebrew update
  vlc-android/res/values-he/strings.xml
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Hungarian update
  vlc-android/res/values-hu/strings.xml
Due: continuous-app-build

l10n: Japanese update
  vlc-android/res/values-ja/strings.xml
Due: continuous-app-build

l10n: Dutch update
  vlc-android/res/values-nl/strings.xml
Due: continuous-app-build

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

l10n: Sardinian update
  vlc-android/res/values-sc/strings.xml
Due: continuous-app-build

l10n: Slovak update
  vlc-android/res/values-sk/strings.xml
Due: continuous-app-build

l10n: Turkish update
  vlc-android/res/values-tr/strings.xml
Due: continuous-app-build

Fix Typecast exception
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
Due: continuous-app-build

Fix player options item background
  vlc-android/res/drawable/advanced_option_focusable_background.xml
  vlc-android/res/layout/player_option_item.xml
Due: continuous-app-build

Add a favorite option in TV browser
  vlc-android/res/drawable/ic_menu_fav_tv.xml
  vlc-android/res/drawable/ic_menu_fav_tv_normal.xml
  vlc-android/res/drawable/ic_menu_fav_tv_pressed.xml
  vlc-android/res/drawable/ic_menu_not_fav_tv.xml
  vlc-android/res/drawable/ic_menu_not_fav_tv_normal.xml
  vlc-android/res/drawable/ic_menu_not_fav_tv_pressed.xml
  vlc-android/res/layout/song_browser.xml
  vlc-android/res/values/strings.xml
  vlc-android/src/org/videolan/vlc/gui/tv/MediaBrowserAnimatorDelegate.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

Avoid hiding the pause button in the player notification
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

Revert "Revert "Medialibrary: match API changes""
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix race condition when DB is corrupted
  medialibrary/src/org/videolan/medialibrary/Medialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Handle DB corruption
  compile-medialibrary.sh
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Revert "Revert onHistoryChanged callback implementation"
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64
