Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Video player: Correctly apply extra title
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Services: Stop with stopService()
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

MediaparsingService: Fix notification and wakelock
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

Fix playback notification icon
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

buildsystem: update VLC HASH
  buildsystem/compile.sh
Due: none

buildsystem: clean C/CXX/LD FLAGS
  buildsystem/compile-libvlc.sh
  buildsystem/compile-medialibrary.sh
Due: none

buildsystem: switch to NDK21
  buildsystem/compile-libvlc.sh
  buildsystem/compile-medialibrary.sh
Due: none

ci: Bump images to use NDK 21
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

Do not create channels if they already exist
  app/src/main/java/org/videolan/mobile/app/AppSetupDelegate.kt
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/NotificationHelper.kt
  vlc-android/src/org/videolan/vlc/gui/video/PopupManager.kt
Due: continuous-app-build

Use correct classnames to stop services
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: continuous-app-build

Allow displaying TV items in list
  resources/src/main/java/org/videolan/resources/util/HeaderProvider.kt
  television/src/main/java/org/videolan/television/ui/FileTvItemAdapter.kt
  television/src/main/java/org/videolan/television/ui/MediaBrowserAnimatorDelegate.kt
  television/src/main/java/org/videolan/television/ui/MediaTvItemAdapter.kt
  television/src/main/java/org/videolan/television/ui/MoviepediaTvItemAdapter.kt
  television/src/main/java/org/videolan/television/ui/TvItemAdapter.kt
  television/src/main/java/org/videolan/television/ui/browser/BaseBrowserTvFragment.kt
  television/src/main/java/org/videolan/television/ui/browser/FileBrowserTvFragment.kt
  television/src/main/java/org/videolan/television/ui/browser/MediaBrowserTvFragment.kt
  television/src/main/java/org/videolan/television/ui/browser/MoviepediaBrowserTvFragment.kt
  television/src/main/java/org/videolan/television/ui/browser/TvAdapterUtils.kt
  television/src/main/res/layout/media_browser_tv_item_list.xml
  television/src/main/res/layout/movie_browser_tv_item_list.xml
  television/src/main/res/layout/song_browser.xml
  vlc-android/res/color/tv_menu_selection.xml
  vlc-android/res/drawable/ic_menu_grid_tv.xml
  vlc-android/res/drawable/ic_menu_grid_tv_normal.xml
  vlc-android/res/drawable/ic_menu_list_tv.xml
  vlc-android/res/drawable/ic_menu_list_tv_normal.xml
  vlc-android/src/org/videolan/vlc/gui/view/RecyclerSectionItemGridDecoration.kt
Due: continuous-app-build

Update VLC HASH
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump libraries versions
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update AndroidX libraries
  application/vlc-android/build.gradle
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  build.gradle
Due: none

Update NEWS
  NEWS
Due: none

Bump version to 3.2.7
  build.gradle
Due: none

Get DVD title and chapter sooner to avoid a race condition
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Add the libvlc patch to restore a DVD position
  libvlc/patches/vlc3/0006-access-dvdnav-dvd-seek.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Gradle: Activate parallel build
  gradle.properties
Due: none

Reduce number of items loaded in RAM
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
Due: none

l10n: Turkish update
  application/resources/src/main/res/values-tr/strings.xml
Due: none

l10n: Hebrew update
  application/resources/src/main/res/values-he/strings.xml
Due: none

l10n: Chinese (Taiwan) update
  application/resources/src/main/res/values-zh-rTW/strings.xml
Due: none

l10n: Slovak update
  application/resources/src/main/res/values-sk/strings.xml
Due: none

l10n: Japanese update
  application/resources/src/main/res/values-ja/strings.xml
Due: none

l10n: Swedish update
  application/resources/src/main/res/values-sv/strings.xml
Due: none

l10n: Ukrainian update
  application/resources/src/main/res/values-uk/strings.xml
Due: none

l10n: Russian update
  application/resources/src/main/res/values-ru/strings.xml
Due: none

l10n: Polish update
  application/resources/src/main/res/values-pl/strings.xml
Due: none

l10n: Portuguese (Brazil) update
  application/resources/src/main/res/values-pt-rBR/strings.xml
Due: none

l10n: German update
  application/resources/src/main/res/values-de/strings.xml
Due: none

l10n: Italian update
  application/resources/src/main/res/values-it/strings.xml
Due: none

Await app foreground to start MediaParsingService
  application/vlc-android/src/org/videolan/vlc/StartActivity.kt
Due: none

Fix apk name on CLI builds
  application/app/build.gradle
Due: none

Fix release build
  api/src/main/AndroidManifest.xml
  application/app/build.gradle
  application/resources/build.gradle
  application/vlc-android/res/layout/tv_time.xml
Due: none

MediaparsingService: Ensure app is foreground
  vlc-android/src/org/videolan/vlc/StartActivity.kt
Due: continuous-app-build
