Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Fix background and bottom navigation colors + reduce overdraw
  application/resources/src/main/res/values/attrs.xml
  application/vlc-android/res/color/bottom_navigation_selector.xml
  application/vlc-android/res/layout/audio_recyclerview.xml
  application/vlc-android/res/layout/main.xml
  application/vlc-android/res/layout/main_browser_fragment.xml
  application/vlc-android/res/layout/more_fragment.xml
  application/vlc-android/res/values/styles.xml
Due: none

JNI: regroup and regroupAll
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update lib versions
  build.gradle
Due: none

Update dependencies
  application/mediadb/build.gradle
  application/vlc-android/build.gradle
  build.gradle
  medialibrary/build.gradle
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix last playlist saved in the wrong preference
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Fix TV player button focus state and order
  vlc-android/res/layout/tv_audio_player.xml
Due: continuous-app-build

Fix new mini FAB buttons and add header tv icons
  application/resources/assets/images/svg/ic_bookmark.svg
  application/resources/assets/images/svg/ic_bookmark_outline.svg
  application/resources/assets/images/svg/ic_fabtv_preferences.svg
  application/resources/assets/images/svg/ic_fabtvmini_bookmark_outline.svg
  application/resources/assets/images/svg/ic_fabtvmini_grid.svg
  application/resources/assets/images/svg/ic_fabtvmini_jumptoheader.svg
  application/resources/assets/images/svg/ic_fabtvmini_preferences.svg
  application/resources/assets/images/svg/ic_fabtvmini_sort.svg
  application/resources/assets/images/svg/ic_grid.svg
  application/resources/assets/images/svg/ic_jumptoheader.svg
  application/resources/assets/images/svg/ic_list.svg
  application/resources/assets/images/svg/ic_menu_bookmark_w.svg
  application/resources/assets/images/svg/ic_menu_fav_tv.svg
  application/resources/assets/images/svg/ic_menu_not_fav_tv.svg
  application/resources/assets/images/svg/ic_menu_sort.svg
  application/resources/assets/images/svg/ic_sort.svg
Due: none

Icons licence issue
  application/resources/assets/images/svg/ic_arrow_back.svg
  application/resources/assets/images/svg/ic_backspace.svg
  application/resources/assets/images/svg/ic_duration.svg
  application/resources/assets/images/svg/ic_people_big.svg
  application/resources/assets/images/svg/ic_player_more_h.svg
  application/resources/assets/images/svg/ic_send.svg
  application/resources/assets/images/svg/ic_storage.svg
  application/resources/assets/images/svg/ic_theme.svg
  application/resources/assets/images/svg/ic_theme_dark.svg
  application/resources/assets/images/svg/ic_theme_daynight.svg
  application/resources/assets/images/svg/ic_theme_light.svg
Due: none

Fix FAB icons and add new ones
  application/resources/assets/images/svg/ic_fab_add.svg
  application/resources/assets/images/svg/ic_fab_play.svg
  application/resources/assets/images/svg/ic_fab_shuffle.svg
  application/resources/assets/images/svg/ic_fabtv_preferences.svg
  application/resources/assets/images/svg/ic_fabtvmini_bookmark.svg
  application/resources/assets/images/svg/ic_fabtvmini_bookmark_outline.svg
  application/resources/assets/images/svg/ic_fabtvmini_grid.svg
  application/resources/assets/images/svg/ic_fabtvmini_list.svg
  application/resources/assets/images/svg/ic_fabtvmini_preferences.svg
  application/resources/assets/images/svg/ic_fabtvmini_sort.svg
Due: none

TV fab icons integration
  application/resources/src/main/res/color/standard_selection_orange500_orange700.xml
  application/resources/src/main/res/drawable/ic_bookmark.xml
  application/resources/src/main/res/drawable/ic_bookmark_outline.xml
  application/resources/src/main/res/drawable/ic_fab_add.xml
  application/resources/src/main/res/drawable/ic_fab_shuffle.xml
  application/resources/src/main/res/drawable/ic_fabtv_preferences.xml
  application/resources/src/main/res/drawable/ic_fabtvmini_bookmark.xml
  application/resources/src/main/res/drawable/ic_fabtvmini_bookmark_outline.xml
  application/resources/src/main/res/drawable/ic_fabtvmini_grid.xml
  application/resources/src/main/res/drawable/ic_fabtvmini_jumptoheader.xml
  application/resources/src/main/res/drawable/ic_fabtvmini_list.xml
  application/resources/src/main/res/drawable/ic_fabtvmini_sort.xml
  application/resources/src/main/res/drawable/ic_grid.xml
  application/resources/src/main/res/drawable/ic_jumptoheader.xml
  application/resources/src/main/res/drawable/ic_list.xml
  application/resources/src/main/res/drawable/ic_menu_fav_tv.xml
  application/resources/src/main/res/drawable/ic_menu_header_tv.xml
  application/resources/src/main/res/drawable/ic_menu_not_fav_tv.xml
  application/resources/src/main/res/drawable/ic_menu_sort_tv.xml
  application/resources/src/main/res/drawable/ic_sort.xml
  application/television/src/main/java/org/videolan/television/ui/browser/BaseBrowserTvFragment.kt
  application/television/src/main/java/org/videolan/television/ui/browser/FileBrowserTvFragment.kt
  application/television/src/main/res/layout/song_browser.xml
  application/vlc-android/res/drawable-hdpi/ic_menu_header_tv_normal.png
  application/vlc-android/res/drawable-hdpi/ic_menu_header_tv_pressed.png
  application/vlc-android/res/drawable-hdpi/ic_menu_preferences_tv.png
  application/vlc-android/res/drawable-mdpi/ic_menu_header_tv_normal.png
  application/vlc-android/res/drawable-mdpi/ic_menu_header_tv_pressed.png
  application/vlc-android/res/drawable-mdpi/ic_menu_preferences_tv.png
  application/vlc-android/res/drawable-xhdpi/ic_menu_header_tv_normal.png
  application/vlc-android/res/drawable-xhdpi/ic_menu_header_tv_pressed.png
  application/vlc-android/res/drawable-xhdpi/ic_menu_preferences_tv.png
  application/vlc-android/res/drawable-xxhdpi/ic_menu_header_tv_normal.png
  application/vlc-android/res/drawable-xxhdpi/ic_menu_header_tv_pressed.png
  application/vlc-android/res/drawable-xxhdpi/ic_menu_preferences_tv.png
  application/vlc-android/res/drawable-xxxhdpi/ic_menu_header_tv_normal.png
  application/vlc-android/res/drawable-xxxhdpi/ic_menu_header_tv_pressed.png
  application/vlc-android/res/drawable-xxxhdpi/ic_menu_preferences_tv.png
Due: none

Medialibrary: Always allow callbacks registration
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Add new group icons
  application/resources/assets/images/svg/ic_add_to_group.svg
  application/resources/assets/images/svg/ic_delete.svg
  application/resources/assets/images/svg/ic_edit.svg
  application/resources/assets/images/svg/ic_group.svg
  application/resources/assets/images/svg/ic_group_auto.svg
  application/resources/assets/images/svg/ic_remove_from_group.svg
Due: none

Add context group icons
  application/resources/assets/images/svg/ic_ctx_add_to_group.svg
  application/resources/assets/images/svg/ic_ctx_delete.svg
  application/resources/assets/images/svg/ic_ctx_delete_normal.svg
  application/resources/assets/images/svg/ic_ctx_edit.svg
  application/resources/assets/images/svg/ic_ctx_group.svg
  application/resources/assets/images/svg/ic_ctx_group_auto.svg
  application/resources/assets/images/svg/ic_ctx_remove_from_group.svg
Due: none

Media groups implementation
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/layout/dialog_add_to_group.xml
  application/vlc-android/res/menu/action_mode_video.xml
  application/vlc-android/res/menu/action_mode_video_group.xml
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/AddToGroupDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/ContextSheet.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/RenameDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
Due: none

Media groups icons implementation
  application/resources/src/main/res/drawable/ic_add_to_group.xml
  application/resources/src/main/res/drawable/ic_ctx_add_to_group.xml
  application/resources/src/main/res/drawable/ic_ctx_delete.xml
  application/resources/src/main/res/drawable/ic_ctx_edit.xml
  application/resources/src/main/res/drawable/ic_ctx_group.xml
  application/resources/src/main/res/drawable/ic_ctx_group_auto.xml
  application/resources/src/main/res/drawable/ic_ctx_remove_from_group.xml
  application/resources/src/main/res/drawable/ic_delete.xml
  application/resources/src/main/res/drawable/ic_edit.xml
  application/resources/src/main/res/drawable/ic_group.xml
  application/resources/src/main/res/drawable/ic_group_auto.xml
  application/resources/src/main/res/drawable/ic_remove_from_group.xml
Due: none

Move context flags to long as we are reaching the 32 bits limit
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioAlbumsSongsFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/BaseAudioBrowser.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/ExtensionBrowser.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MainBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/ContextSheet.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
  application/vlc-android/src/org/videolan/vlc/gui/network/StreamsFragmentDelegate.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Fix add to group for 1 media and remove useless info
  application/vlc-android/res/layout/dialog_add_to_group.xml
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/AddToGroupDialog.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: none

medialibrary: Fix returning reference to tmp object
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix TV player button focus state and order
  application/television/src/main/res/layout/tv_audio_player.xml
Due: none

Fix Audio list background on tablets + small refactor
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioAlbumsSongsFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/BaseAudioBrowser.kt
Due: none

Fix BottomSheet background
  application/resources/src/main/res/drawable/bottom_sheet_background.xml
Due: none

Fix loading state in file browser
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
Due: none

Fix sizing issue with audio card/list on tablets
  application/vlc-android/res/layout/audio_albums_songs.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioAlbumsSongsFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
Due: none

Fix incorrect empty state for favorites + add empty view a compact mode
  application/resources/src/main/res/values/attrs.xml
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/layout/title_list_view.xml
  application/vlc-android/res/layout/view_empty_loading_compact.xml
  application/vlc-android/src/org/videolan/vlc/gui/browser/MainBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/view/EmptyLoadingStateView.kt
Due: none

Allow showing the history in the SecondaryActivity
  application/resources/src/main/res/drawable/ic_arrow_forward.xml
  application/vlc-android/res/layout/more_fragment.xml
  application/vlc-android/res/layout/title_list_view.xml
  application/vlc-android/src/org/videolan/vlc/gui/MoreFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/view/TitleListView.kt
Due: none

Let medialibrary auto set the group name upon creation with medias
  application/vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
  buildsystem/compile-medialibrary.sh
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Mark VideoGroup getName method as WorkerThread
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix typo
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update hash for libvlc + lib versions
  build.gradle
  buildsystem/compile.sh
Due: none

Browser: Fix non existing favorites
  application/vlc-android/src/org/videolan/vlc/util/Browserutils.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/browser/BrowserFavoritesModel.kt
Due: none

Revert "Do not extract native libraries"
  vlc-android/AndroidManifest.xml
Due: continuous-app-build

Allow deleting an album
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/BaseAudioBrowser.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
Due: none

Check the interactive flag to avoid showing hud on Blu-Ray
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

VideoPlayer: Reset navStatus var later
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Replace calls to Java's libraries with calls to the Kotlin standard library functions.
  application/television/src/main/java/org/videolan/television/ui/audioplayer/AudioPlayerActivity.kt
Due: none

Improve bottom bar visibility and mini player background
  application/resources/src/main/res/drawable/bottom_navigation_background.xml
  application/vlc-android/res/layout/audio_player.xml
  application/vlc-android/res/layout/main.xml
Due: none

Auto fill rename group dialog
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/RenameDialog.kt
Due: none
