Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

l10n: Turkish update
  vlc-android/res/values-tr/strings.xml
Due: continuous-app-build

MediaParsing: Fix channel closed too early
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

Update NEWS
  NEWS
Due: none

Bump version to 3.2.6
  build.gradle
Due: none

l10n: Hebrew update
  vlc-android/res/values-he/strings.xml
Due: continuous-app-build

l10n: Portuguese (Brazil) update
  vlc-android/res/values-pt-rBR/strings.xml
Due: continuous-app-build

l10n: German update
  vlc-android/res/values-de/strings.xml
Due: continuous-app-build

l10n: Slovak update
  vlc-android/res/values-sk/strings.xml
Due: continuous-app-build

l10n: Ukrainian update
  vlc-android/res/values-uk/strings.xml
Due: continuous-app-build

l10n: Chinese (Taiwan) update
  vlc-android/res/values-zh-rTW/strings.xml
Due: continuous-app-build

l10n: Swedish update
  vlc-android/res/values-sv/strings.xml
Due: continuous-app-build

l10n: Polish update
  vlc-android/res/values-pl/strings.xml
Due: continuous-app-build

l10n: Japanese update
  vlc-android/res/values-ja/strings.xml
Due: continuous-app-build

Remove unecessary git file
  .gitattributes
Due: none

Move build scripts in a dedicated folder
  api/build.gradle
  buildsystem/compile-libvlc.sh
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
  buildsystem/gitlab/.gitlab-ci.yml
  buildsystem/publish.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Removes patches folder
  patches/Fix_Video_resize.patch
Due: none

Move gdb.sh to libvlc/
  libvlc/gdb.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

PiP: catch IllegalArgumentException
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Mediasession: Add repeat and shuffle states
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/util/Constants.kt
Due: continuous-app-build

Play queue: Prevent ANR
  vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  vlc-android/src/org/videolan/vlc/gui/tv/audioplayer/AudioPlayerActivity.kt
  vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: continuous-app-build

Fix video as audio playback resume
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: continuous-app-build

Support Picture-in-Picture on Chrome OS
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: continuous-app-build

Upgrade Dependencies
  build.gradle
Due: none

Move MoviepediaViewModel to related module
  moviepedia/build.gradle
  moviepedia/src/main/java/org/videolan/moviepedia/MoviepediaApiService.kt
  moviepedia/src/main/java/org/videolan/moviepedia/MoviepediaIndexer.kt
  moviepedia/src/main/java/org/videolan/moviepedia/viewmodel/MoviepediaModel.kt
  tools/build.gradle
  vlc-android/src/org/videolan/vlc/gui/MoviepediaActivity.kt
  vlc-android/src/org/videolan/vlc/gui/tv/MoviepediaTvFragment.kt
Due: continuous-app-build

Remove androidx.media depencency
  resources/build.gradle
  resources/src/main/java/org/videolan/resources/Constants.kt
  vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
  vlc-android/src/org/videolan/vlc/gui/tv/audioplayer/AudioPlayerActivity.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: continuous-app-build

Create NetworkMonitor in tools
  tools/src/main/java/org/videolan/tools/NetworkMonitor.kt
Due: none

Fix DB version
  vlc-android/src/org/videolan/vlc/database/MediaDatabase.kt
Due: continuous-app-build

Update gitlab CI config
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

CI: Fix gitlab-ci.yml path
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

CI: Only exclude buildscripts from continuous build
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

CI: continuous-builds: Monitor all folders except libvlc/medialibrary
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
