Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Add Android Auto search support
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
Due: none

Add support for group title. Use common playlist thumbnail identifier. Optimize calls to Medialibrary.
  application/television/src/main/java/org/videolan/television/ui/TvUtil.kt
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
Due: none

Remove useless class
  application/resources/src/test/java/org/videolan/resources/ExampleUnitTest.kt
Due: none

Upgrade dependencies
  application/mediadb/build.gradle
  application/moviepedia/build.gradle
  build.gradle
Due: none

Fix build on Apple Silicon devices
  application/mediadb/build.gradle
  application/moviepedia/build.gradle
  application/vlc-android/build.gradle
  build.gradle
Due: none

Video player: always lock in sensor mode
  application/resources/src/main/res/values/arrays.xml
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerOverlayDelegate.kt
Due: none

Add the dialog listener to display the certificate errors for streams
  application/vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
Due: none

Add maven local as a repo to allow the CI to build the medialibrary
  build.gradle
Due: none

Allow specifying the maven local repository path and use it in the CI
  buildsystem/compile.sh
  buildsystem/gitlab/.gitlab-ci.yml
Due: none

Bump libs versions
  build.gradle
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
  libvlc/patches/vlc3/0009-input-display-discoverer-preparsers-logs.patch
  libvlc/patches/vlc3/0009-smb2-use-new-happy-eyeballs-API.patch
  libvlc/patches/vlc3/0010-taglib-Backport-4.0-patches-to-allow-preparsing-of-n.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Allow indexing a network folder in the settings
  application/vlc-android/src/org/videolan/vlc/gui/BaseFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BrowserContainer.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MLStorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageFragmentDelegate.kt
Due: none

Implement all the new presence accessor from the ML
  application/vlc-android/test/org/videolan/vlc/util/ModelsHelperTest.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Album.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/media/AlbumImpl.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/GenreImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

TV UI with missing media implementation
  application/television/src/main/java/org/videolan/television/ui/MediaTvItemAdapter.kt
  application/television/src/main/res/layout/media_browser_tv_item.xml
  application/television/src/main/res/layout/media_browser_tv_item_list.xml
  application/vlc-android/res/values/styles.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement ML IMedia isPresent field in MediaWrapper
  application/resources/src/main/res/drawable/ic_network_media_off.xml
  application/vlc-android/src/org/videolan/vlc/util/DummyMediaWrapperProvider.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/media/MediaWrapperImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement medialibrary setDiscoverNetworkEnabled
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

fixup! Pass libvlc instance to the ML
  libvlc/jni/libvlcjni-vlcobject.c
  libvlc/src/org/videolan/libvlc/VLCObject.java
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Pass libvlc instance to the ML
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  libvlc/src/org/videolan/libvlc/VLCObject.java
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Smaller list items
  application/vlc-android/res/layout/video_list_card.xml
Due: none

Use a helper to generate the medialibrary QueryParameters
  medialibrary/jni/medialibrary.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement isPresent for media groups
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/interfaces/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement the includeMissing ML flag for playlists
  application/television/src/main/java/org/videolan/television/ui/SearchFragment.kt
  application/television/src/main/java/org/videolan/television/util/TVSearchProvider.kt
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/gui/SearchActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SavePlaylistDialog.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update ML libvlc instance when it's restarted from app
  application/resources/src/main/java/org/videolan/resources/VLCInstance.kt
Due: none

Implement the includeMissing query param from the medialibrary
  application/moviepedia/src/main/java/org/videolan/moviepedia/MediaScraper.kt
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/ArtistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/FoldersProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/GenresProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/PlaylistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Album.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Folder.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/AlbumImpl.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/FolderImpl.java
  medialibrary/src/org/videolan/medialibrary/media/GenreImpl.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubFolder.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Audio UI with missing media implementation
  application/resources/src/main/res/drawable/ic_action_mode_select.xml
  application/resources/src/main/res/drawable/ic_action_mode_select_1610.xml
  application/vlc-android/res/layout/audio_browser_card_item.xml
  application/vlc-android/res/layout/audio_browser_item.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: none

Network indexing: use a global setting for includeMissing
  application/tools/src/main/java/org/videolan/tools/Settings.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/ArtistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/FoldersProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/GenresProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/PlaylistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
Due: none

Missing media: snackbar and settings shortcut
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/xml/preferences_ui.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
Due: none

Add the file path to the publish to maven script
  buildsystem/maven/README.md
  buildsystem/maven/deploy-to-mavencentral.sh
Due: none

Add a better confirmation dialog for deletion
  application/resources/assets/anims/anim_delete.shapeshifter
  application/resources/src/main/res/drawable/anim_delete.xml
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/layout/dialog_confirm_delete.xml
  application/vlc-android/res/values/styles.xml
  application/vlc-android/src/org/videolan/vlc/gui/PlaylistActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/ConfirmDeleteDialog.kt
Due: none

Change BottomSheet title color to follow new guidelines
  application/vlc-android/res/values/styles.xml
Due: none

Android TV audio player redesign
  application/resources/assets/images/svg/ic_seekbar_thumb_audio_tv_normal.svg
  application/resources/assets/images/svg/ic_seekbar_thumb_audio_tv_pressed.svg
  application/resources/src/main/res/color/audio_tv_progressbar_background.xml
  application/resources/src/main/res/color/player_circle_background_tv.xml
  application/resources/src/main/res/drawable/advanced_option_focusable_background_dark.xml
  application/resources/src/main/res/drawable/ic_no_song_background.xml
  application/resources/src/main/res/drawable/ic_overflow_tv_audio.xml
  application/resources/src/main/res/drawable/ic_previous_pressed.xml
  application/resources/src/main/res/drawable/ic_seekbar_thumb_audio_tv.xml
  application/resources/src/main/res/drawable/ic_seekbar_thumb_audio_tv_normal.xml
  application/resources/src/main/res/drawable/ic_seekbar_thumb_audio_tv_pressed.xml
  application/resources/src/main/res/drawable/rectangle_circle_right_white.xml
  application/resources/src/main/res/drawable/tv_audioprogressbar.xml
  application/resources/src/main/res/values/attrs.xml
  application/resources/src/main/res/values/dimens.xml
  application/television/src/main/AndroidManifest.xml
  application/television/src/main/java/org/videolan/television/ui/audioplayer/AudioPlayerActivity.kt
  application/television/src/main/java/org/videolan/television/ui/audioplayer/PlaylistAdapter.kt
  application/television/src/main/java/org/videolan/television/ui/details/MediaListActivity.kt
  application/television/src/main/res/layout/tv_audio_player.xml
  application/television/src/main/res/layout/tv_playlist_item.xml
  application/vlc-android/res/layout/player_option_item.xml
  application/vlc-android/res/values/styles.xml
  application/vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
Due: none

Add the sleep and speed chips to the audio player for mobile
  application/resources/src/main/res/values/attrs.xml
  application/resources/src/main/res/values/colors.xml
  application/vlc-android/res/layout-land/audio_player.xml
  application/vlc-android/res/layout/audio_player.xml
  application/vlc-android/res/values/styles.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerOverlayDelegate.kt
  application/vlc-android/src/org/videolan/vlc/media/PlayerController.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: none

Add the sleep and speed chips to the audio player for TV
  application/resources/src/main/res/drawable/ic_sleep_white.xml
  application/resources/src/main/res/drawable/ic_speed_white.xml
  application/resources/src/main/res/drawable/tv_audio_chips.xml
  application/resources/src/main/res/drawable/tv_audio_chips_focused.xml
  application/resources/src/main/res/drawable/tv_audio_chips_normal.xml
  application/television/src/main/java/org/videolan/television/ui/audioplayer/AudioPlayerActivity.kt
  application/television/src/main/res/layout/tv_audio_player.xml
Due: none

Use max item count to speed up recent audio query
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
Due: none

Code cleanup
  application/tools/src/main/java/org/videolan/tools/BitmapCache.kt
Due: none

Add artwork content provider
  application/app/src/main/java/org/videolan/mobile/app/VLCApplication.kt
  application/vlc-android/AndroidManifest.xml
  application/vlc-android/src/org/videolan/vlc/ArtworkProvider.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
Due: none

Update media session browser and playback service to invoke artwork content provider
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/AudioUtil.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
Due: none

Add support for calling package validation and logging
  application/vlc-android/assets/authorized_keys.json
  application/vlc-android/src/org/videolan/vlc/util/AccessControl.kt
Due: none

Force the playlist thumbnail regeneration on content change
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
Due: none

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
