Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

.gitlab-ci.yml:

cache:
    paths:
        - .gradle/
        - gradle-5.4.1/
        - gradle/
        - gradlew

.build-all-base:
    image: registry.videolan.org:5000/vlc-debian-android:20190507015459
    tags:
        - debian 
        - android
    stage: build
    script:
        - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
    variables:
        MAKEFLAGS: -j8

# Rebuilds libvlc JNI
.build-libvlc-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - libvlc/**/*
            - build-common
            - compile.sh
            - compile-libvlc.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -l

# rebuild the medialibrary JNI component
# This implies rebuilding VLC beforehand
.build-ml-base:
    extends: .build-all-base
    only:
        refs:
            - master
            - merge_requests
        changes:
            - medialibrary/**/*
            - compile.sh
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
    except:
        - schedules
    variables:
        EXTRA_BUILD_PARAM: -ml

# vlc-android app only: don't rebuild everything but use a published artifact
continuous-app-build:
    extends: .build-all-base
    script:
        - ./compile.sh --init
        - ./gradlew assembleDebug
    only:
        refs:
            - master
            - merge_requests
        changes:
            - vlc-android/**/*
            - assets/**/*
            - .gitlab-ci.yml
    except:
        refs:
            - schedules
        changes:
            - build-common
            - compile-libvlc.sh
            - compile-medialibrary.sh
            - compile.sh
            - libvlc/**/*
            - medialibrary/**/*

#################################
# Template config instantiation #
#################################

build-libvlc-arm64:
    extends: .build-libvlc-base
    variables:
        ARCH: arm64

build-libvlc-armv7:
    extends: .build-libvlc-base
    variables:
        ARCH: arm

build-libvlc-x86:
    extends: .build-libvlc-base
    variables:
        ARCH: x86

build-libvlc-x86_64:
    extends: .build-libvlc-base
    variables:
        ARCH: x86_64

build-ml-arm64:
    extends: .build-ml-base
    variables:
        ARCH: arm64

build-ml-armv7:
    extends: .build-ml-base
    variables:
        ARCH: arm

build-ml-x86:
    extends: .build-ml-base
    variables:
        ARCH: x86

build-ml-x86_64:
    extends: .build-ml-base
    variables:
        ARCH: x86_64

# Nightly builds: build native & app code, and ship the APK as artifact
nightly-arm64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-armv7:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: arm
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

nightly-x86_64:
    extends: .build-all-base
    only: 
        - schedules
    variables:
        ARCH: x86_64
    artifacts:
        paths:
            - vlc-android/build/outputs/apk/dev/VLC-Android-*.apk
        expire_in: 2 weeks

Fix NullPointerException when a MediaWrapper uri is null
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix NullPointerException when showing tips on some activities
  application/vlc-android/res/layout/info_activity.xml
  application/vlc-android/res/layout/playlist_activity.xml
Due: none

Prevent a NullPointerException while parsing the play queue
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Crash reporter: include the crash logcat as well and allow forcing a crash
  application/resources/src/main/java/org/videolan/resources/util/VLCCrashHandler.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
  application/vlc-android/src/org/videolan/vlc/gui/SendCrashActivity.kt
Due: none

Add wpl file extension to the manifest
  application/vlc-android/AndroidManifest.xml
  libvlc/src/org/videolan/libvlc/util/Extensions.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

buildsystem: Fix potential syntax error due to uninitialized variable
  buildsystem/compile.sh
Due: none

MLStorage: fix bar back button
  application/vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
Due: none

WatchNext: fix removal after finish
  application/vlc-android/src/org/videolan/vlc/util/TvChannels.kt
Due: none

WatchNext: fix default icon
  application/resources/assets/images/svg/tv_channel_default.svg
  application/resources/src/main/res/drawable/tv_channel_default.png
  application/vlc-android/src/org/videolan/vlc/util/TvChannels.kt
Due: none

WatchNext: add media paths to programs
  application/television/src/main/java/org/videolan/television/ui/MainTvFragment.kt
  application/television/src/main/java/org/videolan/television/ui/preferences/PreferencesAdvanced.kt
  application/tools/src/main/java/videolan/org/commontools/TvChannelUtils.kt
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  application/vlc-android/src/org/videolan/vlc/StartActivity.kt
  application/vlc-android/src/org/videolan/vlc/util/TvChannels.kt
  application/vlc-android/src/org/videolan/vlc/util/VersionMigration.kt
Due: none

WatchNext: update when home is pressed
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

medialibrary: use utils::jni::objectArray for native objects arrays
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: use utils::jni::longArray for native long arrays
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: utils: Don't reassign NULL to a NULL initialized value
  medialibrary/jni/utils.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: Use utils::jni::object for native objects
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: Use utils::jni::string for native strings
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

jni: Add a wrapper to automatically release localrefs
  medialibrary/jni/utils.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

medialibrary: Save a couple copies of std::set
  medialibrary/jni/AndroidMediaLibrary.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Bump libs to 3.4.1 / 0.9.1
  build.gradle
  buildsystem/compile.sh
Due: none

Attempt to load embedded artwork directly from media as a last resort
  application/vlc-android/src/org/videolan/vlc/ArtworkProvider.kt
Due: none

Pass bitmap to the media session when not in Android Auto mode.
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Add Android Auto specific fast forward and rewind icons
  application/resources/assets/images/svg/ic_auto_forward_10.svg
  application/resources/assets/images/svg/ic_auto_rewind_10.svg
  application/resources/src/main/res/drawable/ic_auto_forward_10.xml
  application/resources/src/main/res/drawable/ic_auto_rewind_10.xml
Due: none

Add audiobook/podcast mode to hide previous and next buttons
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Reshuffle custom action order. Add new actions for rewind and fast forward.
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Add support for displaying chapter name in car mode
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Bump app to 3.4.1 Beta 1
  NEWS
  build.gradle
Due: none

l10n: Slovenian update
  application/resources/src/main/res/values-sl/strings.xml
Due: none

l10n: Swedish update
  application/resources/src/main/res/values-sv/strings.xml
Due: none

l10n: Hungarian update
  application/resources/src/main/res/values-hu/strings.xml
Due: none

Fix storage fragment toolbar icons not working
  application/vlc-android/src/org/videolan/vlc/gui/BaseFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/ContentActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
Due: none

Prevent displaying tips on TV as it leads to crashes
  application/vlc-android/src/org/videolan/vlc/gui/helpers/PlayerOptionsDelegate.kt
Due: none

Bump app to 3.4.1 Beta 2
  NEWS
  build.gradle
Due: none

Add shift modifiers for video player arrows key events
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
Due: none

Fix regression preventing the media session to get the right time after a seek
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Fix the media time update when navigating the play queue
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoPlayerActivity.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Fix external media titles set to filename
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
Due: none

Show rewind and fast forward icons on wearable
  application/resources/src/main/java/org/videolan/resources/Constants.kt
  application/resources/src/main/res/drawable/ic_auto_forward_10.xml
  application/resources/src/main/res/drawable/ic_auto_rewind_10.xml
  application/vlc-android/src/org/videolan/vlc/PlaybackService.kt
Due: none

Benchmark: fix repeating stuck to REPEAT_MODE_ONE
  application/vlc-android/src/org/videolan/vlc/gui/video/benchmark/BenchActivity.kt
Due: none

Prevent IllegalStateException when the EqualizerFragment is not attached
  application/vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: none

Prevent NullPointerException by avoiding race conditions
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64
