Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Mediagroups
  compile.sh
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
  medialibrary/src/org/videolan/medialibrary/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/AbstractMedialibrary.java
  vlc-android/src/org/videolan/vlc/viewmodels/CallBackDelegate.kt
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

UI Test for FileBrowserFragment
  vlc-android/androidTest/org/videolan/vlc/BaseUITest.kt
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FileBrowserFragmentUITest.kt
Due: continuous-app-build

Test for AudioBrowserViewModel done
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AudioBrowserViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
Due: continuous-app-build

Test suite for StreamsModel
  build.gradle
  vlc-android/build.gradle
  vlc-android/test/org/videolan/vlc/util/RoboLiteTestRunner.kt
  vlc-android/test/org/videolan/vlc/viewmodels/StreamsModelTest.kt
Due: continuous-app-build

Test for AlbumSongsViewModel done
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  vlc-android/test/org/videolan/vlc/BaseTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AlbumSongsViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AudioBrowserViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

UI test: "Add to favorites"
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FileBrowserFragmentUITest.kt
Due: continuous-app-build

FoldersViewModelTest added
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubFolder.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/FoldersViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Done PlaylistViewModelTest
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistsViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

ModelsHelper tests almost done
  vlc-android/test/org/videolan/vlc/util/ModelsHelperTest.kt
Due: continuous-app-build

Done PlaylistsViewModelTest
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/FoldersViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistsViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fixed ServiceLocator to work with tests
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  vlc-android/src/org/videolan/vlc/providers/FilePickerProvider.kt
  vlc-android/src/org/videolan/vlc/providers/StorageProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/BaseModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/HistoryModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/MedialibraryModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/StreamsModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/SubtitlesModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/browser/BrowserModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/browser/NetworkModel.kt
  vlc-android/test/org/videolan/vlc/viewmodels/HistoryModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/SubtitlesModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AlbumSongsViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AudioBrowserViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/FoldersViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistsViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/VideosViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Test for VideosViewModel done
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  vlc-android/build.gradle
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FilePickerModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/VideosViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Tests: Fixed LibVLC refactored references
  vlc-android/test-common/org/videolan/vlc/util/TestUtil.kt
  vlc-android/test/org/videolan/vlc/VLCTestApplication.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FileBrowserModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FilePickerModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/StorageModelTest.kt
Due: continuous-app-build

UI test: Done FileBrowser and FilePicker
  vlc-android/androidTest/org/videolan/vlc/UtilAdapterMatcher.kt
  vlc-android/androidTest/org/videolan/vlc/UtilViewActions.kt
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FileBrowserFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FilePickerFragmentUITest.kt
  vlc-android/res/menu/activity_option.xml
  vlc-android/src/org/videolan/vlc/gui/DiffUtilAdapter.kt
Due: continuous-app-build

Minor fixes
  vlc-android/src/org/videolan/vlc/util/ModelsHelper.kt
  vlc-android/test/org/videolan/vlc/util/ModelsHelperTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/VideosViewModelTest.kt
Due: continuous-app-build

UI test: StorageBrowser and filtering in FileBrowser
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FileBrowserFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/StorageBrowserFragmentUITest.kt
Due: continuous-app-build

Fixed JNI issues in libVLC & added 'test' option in compile.sh
  compile.sh
  libvlc/jni/libvlcjni.c
  vlc-android/androidTest/org/videolan/vlc/MultidexTestRunner.kt
  vlc-android/build.gradle
  vlc-android/res/layout/activity_media_list_tv.xml
  vlc-android/res/layout/activity_media_list_tv_item.xml
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fixed all Unit tests
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/androidTest/org/videolan/vlc/BaseUITest.kt
  vlc-android/androidTest/org/videolan/vlc/UtilAdapterMatcher.kt
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/PlaylistFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FileBrowserFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesAudioUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesUIUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesVideoUITest.kt
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  vlc-android/src/org/videolan/vlc/gui/dialogs/SavePlaylistDialog.kt
  vlc-android/src/org/videolan/vlc/gui/video/benchmark/BenchActivity.kt
  vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  vlc-android/src/org/videolan/vlc/providers/FileBrowserProvider.kt
  vlc-android/src/org/videolan/vlc/util/VLCInstance.kt
  vlc-android/src/org/videolan/vlc/viewmodels/browser/BrowserModel.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FileBrowserModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FilePickerModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/NetworkModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/StorageModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AlbumSongsViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/AudioBrowserViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/FoldersViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistViewModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/PlaylistsViewModelTest.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

UI test: Preference screens
  vlc-android/androidTest/org/videolan/vlc/PreferenceMatcher.kt
  vlc-android/androidTest/org/videolan/vlc/UtilAdapterMatcher.kt
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/BasePreferenceUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesAudioUiTest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesCastingUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesSubtitlesUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesUiUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesVideoUiTest.kt
  vlc-android/build.gradle
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesSubtitles.kt
Due: continuous-app-build

Tests: fix build
  build.gradle
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/mobile/AudioBrowserViewModel.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FileBrowserModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/FilePickerModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/NetworkModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/browser/StorageModelTest.kt
  vlc-android/test/org/videolan/vlc/viewmodels/mobile/FoldersViewModelTest.kt
Due: continuous-app-build

UI test: PlaylistActivity drag
  vlc-android/androidTest/org/videolan/vlc/BaseUITest.kt
  vlc-android/androidTest/org/videolan/vlc/UtilAdapterMatcher.kt
  vlc-android/androidTest/org/videolan/vlc/UtilViewMatchers.kt
  vlc-android/androidTest/org/videolan/vlc/gui/PlaylistActivityUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/PlaylistFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FileBrowserFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/FilePickerFragmentUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/browser/StorageBrowserFragmentUITest.kt
Due: continuous-app-build

UI test: Playlist fragment
  vlc-android/androidTest/org/videolan/vlc/gui/PlaylistActivityUITest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/PlaylistFragmentUITest.kt
Due: continuous-app-build

UI test: Fix compiler errors
  vlc-android/androidTest/org/videolan/vlc/database/MigrationTest.kt
  vlc-android/androidTest/org/videolan/vlc/gui/preferences/PreferencesUIUITest.kt
  vlc-android/test-common/org/videolan/vlc/util/RoboLiteTestRunner.kt
Due: continuous-app-build

TV: Do not show protocol in files browser
  vlc-android/src/org/videolan/vlc/gui/tv/FileTvItemAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

Streams: Open RTSP streams with video player
  vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
Due: continuous-app-build

Update NEWS
  NEWS
Due: none

Bump version to 3.2.4
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary Stub: improve behaviour
  compile.sh
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/Tools.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/AbstractAlbum.java
  medialibrary/src/org/videolan/medialibrary/media/Album.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubFolder.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
  vlc-android/flavors/debug/assets/basic_stub.json
  vlc-android/prep_media.py
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Add the release dat to reflect API change
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary Stub: add json file loading
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  vlc-android/build.gradle
  vlc-android/flavors/debug/assets/basic_stub.json
  vlc-android/prep_media.py
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Upgrade libraries
  build.gradle
  compile-medialibrary.sh
  compile.sh
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Equalizer: delay setting band listener to avoid IndexOutOfBoundsException
  vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
  vlc-android/src/org/videolan/vlc/gui/view/EqualizerBar.kt
Due: continuous-app-build

Update Kotlin
  build.gradle
Due: none

Medialibrary: Avoid double init
  vlc-android/src/org/videolan/vlc/MediaParsingService.kt
Due: continuous-app-build

PlaybackService: Replace old callbacks
  vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  vlc-android/src/org/videolan/vlc/PlaybackService.kt
  vlc-android/src/org/videolan/vlc/util/Kextensions.kt
  vlc-android/src/org/videolan/vlc/util/PBSMedialibraryReceiver.kt
Due: continuous-app-build

Playbackservice: activate external devices
  vlc-android/src/org/videolan/vlc/util/PBSMedialibraryReceiver.kt
Due: continuous-app-build

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
