Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Fix settings crash
  vlc-android/res/xml/preferences.xml
  vlc-android/res/xml/preferences_adv.xml
  vlc-android/res/xml/preferences_audio.xml
  vlc-android/res/xml/preferences_casting.xml
  vlc-android/res/xml/preferences_dev.xml
  vlc-android/res/xml/preferences_extension_page.xml
  vlc-android/res/xml/preferences_extensions.xml
  vlc-android/res/xml/preferences_perf.xml
  vlc-android/res/xml/preferences_subtitles.xml
  vlc-android/res/xml/preferences_ui.xml
  vlc-android/res/xml/preferences_video.xml
Due: continuous-app-build

Browsers: Stop subdirectories parsing when stopped
  vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  vlc-android/src/org/videolan/vlc/viewmodels/browser/BrowserModel.kt
Due: continuous-app-build

Fix equalizer crash + improve workflow
  vlc-android/res/layout/audio_player.xml
  vlc-android/src/org/videolan/vlc/gui/audio/EqualizerFragment.kt
Due: continuous-app-build

Fix audio player small glitch when opening / closing
  vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: continuous-app-build

Fix TV grid bug and resume position
  vlc-android/src/org/videolan/vlc/gui/tv/FileTvItemAdapter.kt
  vlc-android/src/org/videolan/vlc/gui/tv/browser/FileBrowserTvFragment.kt
Due: continuous-app-build

Fix search icons
  vlc-android/res/drawable-hdpi/ic_menu_search_normal.png
  vlc-android/res/drawable-hdpi/ic_menu_search_normal_w.png
  vlc-android/res/drawable-hdpi/ic_menu_search_pressed.png
  vlc-android/res/drawable-ldpi/ic_menu_search_normal.png
  vlc-android/res/drawable-ldpi/ic_menu_search_normal_w.png
  vlc-android/res/drawable-ldpi/ic_menu_search_pressed.png
  vlc-android/res/drawable-mdpi/ic_menu_search_normal.png
  vlc-android/res/drawable-mdpi/ic_menu_search_normal_w.png
  vlc-android/res/drawable-mdpi/ic_menu_search_pressed.png
  vlc-android/res/drawable-xhdpi/ic_menu_search_normal.png
  vlc-android/res/drawable-xhdpi/ic_menu_search_normal_w.png
  vlc-android/res/drawable-xhdpi/ic_menu_search_pressed.png
  vlc-android/res/drawable/ic_menu_search.xml
  vlc-android/res/drawable/ic_menu_search_normal.xml
  vlc-android/res/drawable/ic_menu_search_normal_w.xml
  vlc-android/res/drawable/ic_menu_search_pressed.xml
  vlc-android/res/menu/activity_option.xml
Due: continuous-app-build

medialibrary: Update to recent API changes
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Medialibrary: match API changes
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Persist action mode upon orientation changes
  vlc-android/src/org/videolan/vlc/gui/HistoryFragment.kt
  vlc-android/src/org/videolan/vlc/gui/audio/BaseAudioBrowser.kt
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/folders/FoldersFragment.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/SparseBooleanArrayParcelable.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: continuous-app-build

Fix UninitializedPropertyAccessException
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
Due: continuous-app-build

Change folder browsing to be a batch
  vlc-android/src/org/videolan/vlc/providers/BrowserProvider.kt
  vlc-android/src/org/videolan/vlc/providers/FileBrowserProvider.kt
  vlc-android/src/org/videolan/vlc/providers/NetworkProvider.kt
  vlc-android/src/org/videolan/vlc/providers/StorageProvider.kt
Due: continuous-app-build

Update VLC HASH
  compile.sh
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Upgrade Retrofit to v2.6.1
  build.gradle
Due: none

On the road to v3.3
  build.gradle
Due: none

Update medialibrary HASH
  compile-medialibrary.sh
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Fix adaptive icon
  assets/images/svg/ic_launcher_background.svg
  assets/images/svg/ic_launcher_background_debug.svg
  vlc-android/AndroidManifest.xml
  vlc-android/flavors/debug/res/drawable-hdpi/icon.png
  vlc-android/flavors/debug/res/drawable-ldpi/icon.png
  vlc-android/flavors/debug/res/drawable-mdpi/icon.png
  vlc-android/flavors/debug/res/drawable-xhdpi/icon.png
  vlc-android/flavors/debug/res/drawable/ic_launcher_background.xml
  vlc-android/flavors/debug/res/drawable/ic_launcher_foreground.xml
  vlc-android/flavors/debug/res/mipmap-hdpi/ic_launcher.png
  vlc-android/flavors/debug/res/mipmap-hdpi/ic_launcher_background.png
  vlc-android/flavors/debug/res/mipmap-mdpi/ic_launcher.png
  vlc-android/flavors/debug/res/mipmap-mdpi/ic_launcher_background.png
  vlc-android/flavors/debug/res/mipmap-xhdpi/ic_launcher.png
  vlc-android/flavors/debug/res/mipmap-xhdpi/ic_launcher_background.png
  vlc-android/flavors/debug/res/mipmap-xxhdpi/ic_launcher.png
  vlc-android/flavors/debug/res/mipmap-xxhdpi/ic_launcher_background.png
  vlc-android/res/drawable/ic_launcher_background.xml
  vlc-android/res/drawable/ic_launcher_foreground.xml
  vlc-android/res/layout/onboarding_welcome.xml
  vlc-android/res/mipmap-anydpi-v26/ic_launcher.xml
  vlc-android/res/mipmap-hdpi/ic_launcher_background.png
  vlc-android/res/mipmap-hdpi/ic_launcher_foreground.png
  vlc-android/res/mipmap-mdpi/ic_launcher_background.png
  vlc-android/res/mipmap-mdpi/ic_launcher_foreground.png
  vlc-android/res/mipmap-xhdpi/ic_launcher_background.png
  vlc-android/res/mipmap-xhdpi/ic_launcher_foreground.png
  vlc-android/res/mipmap-xxhdpi/ic_launcher_background.png
  vlc-android/res/mipmap-xxhdpi/ic_launcher_foreground.png
Due: continuous-app-build

Update to 3.2 beta 2
  build.gradle
  libvlc/build.gradle
  medialibrary/build.gradle
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update NEWS
  NEWS
Due: none

Clear cards cover on recycle
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: continuous-app-build

Fix crash in History on Android 4
  vlc-android/src/org/videolan/vlc/gui/HistoryFragment.kt
  vlc-android/src/org/videolan/vlc/gui/network/MRLPanelFragment.kt
  vlc-android/src/org/videolan/vlc/viewmodels/HistoryModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/MedialibraryModel.kt
  vlc-android/src/org/videolan/vlc/viewmodels/StreamsModel.kt
Due: continuous-app-build

Fix build
  vlc-android/src/org/videolan/vlc/viewmodels/StreamsModel.kt
Due: continuous-app-build

Fix video tips
  vlc-android/res/layout/player_tips.xml
Due: continuous-app-build

Fix NPE / IllegalStateException
  vlc-android/res/layout/player_remote_control.xml
Due: continuous-app-build

Fix settings crash
  vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAudio.kt
  vlc-android/src/org/videolan/vlc/gui/tv/preferences/PreferencesAudio.kt
Due: continuous-app-build

Change SparseBooleanArrayParcelable implementation to Parcelize
  vlc-android/src/org/videolan/vlc/gui/browser/MediaBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/helpers/SparseBooleanArrayParcelable.kt
Due: continuous-app-build

Fix fast scroller provider in audio lists
  vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/view/FastScroller.kt
Due: continuous-app-build

Multiselect helper crash fixes
  vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserFragment.kt
  vlc-android/src/org/videolan/vlc/gui/folders/FoldersFragment.kt
  vlc-android/src/org/videolan/vlc/gui/video/VideoGridFragment.kt
Due: continuous-app-build

Remove useless launchAnim method
  vlc-android/src/org/videolan/vlc/gui/view/FadableImageView.kt
Due: continuous-app-build

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
