Repository videolan/vlc-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: continuous-app-build, build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

continuous-app-build:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh --init
  - ./gradlew assembleDebug
  variables:
    MAKEFLAGS: -j8

build-libvlc-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm64

build-libvlc-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: arm

build-libvlc-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86

build-libvlc-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -l
    ARCH: x86_64

build-ml-arm64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm64

build-ml-armv7:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: arm

build-ml-x86:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86

build-ml-x86_64:
  image: registry.videolan.org:5000/vlc-debian-android:20190507015459
  tags:
  - debian
  - android
  stage: build
  script:
  - ./compile.sh ${EXTRA_BUILD_PARAM} -a ${ARCH}
  variables:
    MAKEFLAGS: -j8
    EXTRA_BUILD_PARAM: -ml
    ARCH: x86_64

Pass libvlc instance to the ML
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  libvlc/src/org/videolan/libvlc/VLCObject.java
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Audio UI with missing media implementation
  application/resources/src/main/res/drawable/ic_action_mode_select.xml
  application/resources/src/main/res/drawable/ic_action_mode_select_1610.xml
  application/vlc-android/res/layout/audio_browser_card_item.xml
  application/vlc-android/res/layout/audio_browser_item.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserAdapter.kt
Due: none

TV UI with missing media implementation
  application/television/src/main/java/org/videolan/television/ui/MediaTvItemAdapter.kt
  application/television/src/main/res/layout/media_browser_tv_item.xml
  application/television/src/main/res/layout/media_browser_tv_item_list.xml
  application/vlc-android/res/values/styles.xml
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Avoid asking Android for video thumbnails for distant medias
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
Due: none

Implement all the new presence accessor from the ML
  application/vlc-android/test/org/videolan/vlc/util/ModelsHelperTest.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Album.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/media/AlbumImpl.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/GenreImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update ML libvlc instance when it's restarted from app
  application/resources/src/main/java/org/videolan/resources/VLCInstance.kt
Due: none

Bump lib versions to 3.4.0-eap2 / 0.9.0-eap2
  build.gradle
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
Due: none

Bump libs versions
  build.gradle
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
  libvlc/patches/vlc3/0009-input-display-discoverer-preparsers-logs.patch
  libvlc/patches/vlc3/0009-smb2-use-new-happy-eyeballs-API.patch
  libvlc/patches/vlc3/0010-taglib-Backport-4.0-patches-to-allow-preparsing-of-n.patch
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64

Fix the seek animation when out of media bounds
  application/vlc-android/src/org/videolan/vlc/gui/video/VideoTouchDelegate.kt
Due: none

Audio player global progress improvements
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
Due: none

Audio player global progress: take stop after into account
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioPlayer.kt
  application/vlc-android/src/org/videolan/vlc/media/PlaylistManager.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/PlaylistModel.kt
Due: none

Implement ML flush user thumbs
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Add a migration to invalidate the video thumbs on upgrade
  application/app/src/main/java/org/videolan/mobile/app/AppSetupDelegate.kt
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
  application/vlc-android/src/org/videolan/vlc/util/VersionMigration.kt
Due: none

Delete the video thumbs generated by the system when the medias are removed from the ML
  application/vlc-android/src/org/videolan/vlc/viewmodels/CallBackDelegate.kt
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement the ML callback when a media is converted to external
  application/vlc-android/src/org/videolan/vlc/viewmodels/CallBackDelegate.kt
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement the ML removeThumbnail API and use it when media are converted to external
  application/vlc-android/src/org/videolan/vlc/viewmodels/CallBackDelegate.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/media/MediaWrapperImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Update the VLC repository
  buildsystem/compile.sh
Due: none

Bump lib versions to 3.4.0-eap3 / 0.9.0-eap3
  build.gradle
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
Due: none

Implement ML IMedia isPresent field in MediaWrapper
  application/resources/src/main/res/drawable/ic_network_media_off.xml
  application/vlc-android/src/org/videolan/vlc/util/DummyMediaWrapperProvider.kt
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/MediaWrapper.java
  medialibrary/src/org/videolan/medialibrary/media/MediaWrapperImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMediaWrapper.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement medialibrary setDiscoverNetworkEnabled
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement the includeMissing query param from the medialibrary
  application/moviepedia/src/main/java/org/videolan/moviepedia/MediaScraper.kt
  application/television/src/main/java/org/videolan/television/viewmodel/MainTvModel.kt
  application/vlc-android/src/org/videolan/vlc/ArtworkProvider.kt
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/ArtistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/FoldersProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/GenresProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/PlaylistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
  application/vlc-android/src/org/videolan/vlc/util/ThumbnailsProvider.kt
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Album.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Folder.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/AlbumImpl.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/FolderImpl.java
  medialibrary/src/org/videolan/medialibrary/media/GenreImpl.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubFolder.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Use a helper to generate the medialibrary QueryParameters
  medialibrary/jni/medialibrary.cpp
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Network indexing: use a global setting for includeMissing
  application/tools/src/main/java/org/videolan/tools/Settings.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/AlbumsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/ArtistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/FoldersProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/GenresProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/MedialibraryProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/PlaylistsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideoGroupsProvider.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/VideosProvider.kt
Due: none

Implement isPresent for media groups
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/interfaces/media/VideoGroup.java
  medialibrary/src/org/videolan/medialibrary/media/VideoGroupImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubVideoGroup.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Implement the includeMissing ML flag for playlists
  application/television/src/main/java/org/videolan/television/ui/SearchFragment.kt
  application/television/src/main/java/org/videolan/television/util/TVSearchProvider.kt
  application/vlc-android/src/org/videolan/vlc/ArtworkProvider.kt
  application/vlc-android/src/org/videolan/vlc/MediaSessionCallback.kt
  application/vlc-android/src/org/videolan/vlc/gui/SearchActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/dialogs/SavePlaylistDialog.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaSessionBrowser.kt
  application/vlc-android/src/org/videolan/vlc/media/MediaUtils.kt
  application/vlc-android/src/org/videolan/vlc/providers/medialibrary/TracksProvider.kt
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/jni/utils.h
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Playlist.java
  medialibrary/src/org/videolan/medialibrary/media/PlaylistImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubPlaylist.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Allow indexing a network folder in the settings
  application/vlc-android/src/org/videolan/vlc/gui/BaseFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/SecondaryActivity.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BaseBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/BrowserContainer.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/FileBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/MLStorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserAdapter.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/StorageFragmentDelegate.kt
Due: none

Missing media: snackbar and settings shortcut
  application/resources/src/main/res/values/strings.xml
  application/vlc-android/res/xml/preferences_ui.xml
  application/vlc-android/src/org/videolan/vlc/gui/audio/AudioBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/helpers/UiTools.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesUi.kt
  application/vlc-android/src/org/videolan/vlc/viewmodels/mobile/VideosViewModel.kt
Due: none

Smaller list items
  application/vlc-android/res/layout/video_list_card.xml
Due: none

Implement all the new presence accessor from the ML
  application/vlc-android/test/org/videolan/vlc/util/ModelsHelperTest.kt
  build.gradle
  buildsystem/compile-medialibrary.sh
  buildsystem/compile.sh
  libvlc/patches/vlc3/0009-input-display-discoverer-preparsers-logs.patch
  libvlc/patches/vlc3/0009-smb2-use-new-happy-eyeballs-API.patch
  libvlc/patches/vlc3/0010-taglib-Backport-4.0-patches-to-allow-preparsing-of-n.patch
  medialibrary/jni/medialibrary.cpp
  medialibrary/jni/utils.cpp
  medialibrary/src/org/videolan/medialibrary/MLServiceLocator.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Album.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Artist.java
  medialibrary/src/org/videolan/medialibrary/interfaces/media/Genre.java
  medialibrary/src/org/videolan/medialibrary/media/AlbumImpl.java
  medialibrary/src/org/videolan/medialibrary/media/ArtistImpl.java
  medialibrary/src/org/videolan/medialibrary/media/GenreImpl.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubAlbum.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubArtist.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubDataSource.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubGenre.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Pass libvlc instance to the ML
  application/vlc-android/src/org/videolan/vlc/MediaParsingService.kt
  buildsystem/compile-medialibrary.sh
  libvlc/jni/libvlcjni-vlcobject.c
  libvlc/src/org/videolan/libvlc/VLCObject.java
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-libvlc-arm64, build-libvlc-armv7, build-libvlc-x86, build-libvlc-x86_64, build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Add a feature flag setting and add the network indexation to it
  application/resources/src/main/res/values/strings.xml
  application/television/src/main/java/org/videolan/television/ui/preferences/PreferencesAdvanced.kt
  application/television/src/main/java/org/videolan/television/ui/preferences/PreferencesOptional.kt
  application/vlc-android/res/xml/preferences_adv.xml
  application/vlc-android/res/xml/preferences_optional.xml
  application/vlc-android/src/org/videolan/vlc/gui/browser/MLStorageBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/browser/NetworkBrowserFragment.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesAdvanced.kt
  application/vlc-android/src/org/videolan/vlc/gui/preferences/PreferencesOptional.kt
  application/vlc-android/src/org/videolan/vlc/util/FeatureFlagManager.kt
Due: none

Implement ML flush user thumbs
  buildsystem/compile-medialibrary.sh
  medialibrary/jni/AndroidMediaLibrary.cpp
  medialibrary/jni/AndroidMediaLibrary.h
  medialibrary/jni/medialibrary.cpp
  medialibrary/src/org/videolan/medialibrary/MedialibraryImpl.java
  medialibrary/src/org/videolan/medialibrary/interfaces/Medialibrary.java
  medialibrary/src/org/videolan/medialibrary/stubs/StubMedialibrary.java
Due: build-ml-arm64, build-ml-armv7, build-ml-x86, build-ml-x86_64

Path conditions:
  continuous-app-build: (any of: vlc-android/**/*, assets/**/*, .gitlab-ci.yml) and (not (any of: build-common, compile-libvlc.sh, compile-medialibrary.sh, compile.sh, libvlc/**/*, medialibrary/**/*))
  build-libvlc-arm64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-armv7: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-libvlc-x86_64: any of: libvlc/**/*, build-common, compile.sh, compile-libvlc.sh
  build-ml-arm64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-armv7: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
  build-ml-x86_64: any of: medialibrary/**/*, compile.sh, build-common, compile-libvlc.sh, compile-medialibrary.sh
